$-c-white: #ffffff;
$-c-gold-92: #b7ac92;
$-c-gold-8f: #baab8f;
$-c-grey-27: #272727;
$-c-grey-74: #747474;
$-c-grey-82: #828282;
$-c-orange-1d: #ee731d;
$-c-orange-1c: #d67c1c;

@function rem($px) {
  @return ($px / 16) * 1rem;
}
