$white: #ffffff;
$gold-92: #b7ac92;
$gold-8f: #baab8f;
$grey-27: #272727;
$grey-74: #747474;
$grey-82: #828282;
$orange-1d: #ee731d;
$orange-1c: #d67c1c;

@function rem($px) {
  @return ($px / 16) * 1rem;
}
