$golden: #baab8f;
$goldenDark: #b7ac92;
$grey: #959595;
$darkGrey: #828282;
$orange: #ee731d;
$orangePale: #d67c1c;
$green: #4f822c;

// @mixin flexCenter($direction, $background) {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: $direction;
//   background: $background;
// }

// header {
//   @include flexCenter(column, black);
// }

@mixin today($top) {
  position: relative;
  top: $top;
  .today {
    z-index: 1;

    .dzis {
      position: relative;
      left: 0.6rem;
      margin: 0;
    }

    .zdarza_sie {
      position: relative;
      top: -1.16rem;
      margin: 0;
    }

    .tylko_raz {
      position: relative;
      top: -0.6rem;
      left: 1.3rem;
      margin: 0;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.golden {
  color: $golden;
}

.orangePale {
  color: $orangePale;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 16px;
  }
}
