.form_exp {
  position: relative;
  top: 3.125rem;
  height: 120rem;
  .copy {
    @include today(1rem);
    left: 13rem;
  }
  .main_input {
    position: relative;
    top: 2.5rem;
    width: 100%;
    textarea {
      margin-top: 1.5rem;
      padding: 1rem 1rem 2.5rem 1rem;
      width: 100%;
      background: black;
      border-radius: 0.5rem;
      border: 3px solid $darkGrey;
    }
    textarea[required]:invalid + .placeholder {
      display: inline-block;
    }
    textarea[required]:valid + .placeholder {
      display: none;
    }
    label {
      position: relative;
      left: 1.2rem;
    }
    .masz {
      position: relative;
      top: 1.7rem;
      left: 2.9rem;
    }
    .placeholder {
      position: absolute;
      bottom: 16.4rem;
    }
    button {
      position: relative;
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
