.background {
  background: black;
  width: 720px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  img {
    position: absolute;
  }
}

.container {
  width: auto;
  max-width: 38.75rem; //620px at 16px base
  margin-right: auto;
  margin-left: auto;
}

.hero {
  position: relative;
  top: 3.125rem;
  // needed for collapsible
  height: 93.375rem;
  .bottle {
    position: absolute;
    top: 6.5625rem;
    right: 0.275rem;
    z-index: 0;
    width: 24.625rem;
  }

  .live {
    position: absolute;
    right: 0;
  }

  .text {
    position: relative;
    color: white;
  }

  .copy {
    position: relative;
    top: 0.625rem;
    .today {
      z-index: 1;

      .dzis {
        position: relative;
        left: 0.875rem;
        margin: 0;
      }

      .zdarza_sie {
        position: relative;
        top: -1.35rem;
        margin: 0;
      }

      .tylko_raz {
        position: relative;
        top: -0.5rem;
        left: 1.2rem;
        margin: 0;
      }
    }

    .makeItCount {
      position: relative;
      top: 2rem;
      left: 5.15rem;
      max-width: 6.75rem;

      .small_logo {
        position: relative;
        display: block;
        left: 50%;
        margin-left: -30.5px;
      }

      .make_it {
        position: relative;
        top: 0.7rem;
        margin: 0;
        min-width: 6.75rem;
      }

      .count {
        position: relative;
        top: 1rem;
        margin: 0;
        min-width: 6.75rem;
      }
    }
  }

  .main_input {
    position: absolute;
    bottom: 22rem;
    width: 100%;
    .outline {
      margin-left: auto;
      margin-right: auto;
    }
    .napisz {
      position: relative;
      top: 1.5rem;
      left: 1.5rem;
    }
  }

  .info {
    position: absolute;
    top: 83.5rem;
    width: 100%;
  }
}

.contact {
  max-height: 123.05rem;
  height: 123.05rem;
  .info {
    padding-top: 3rem;
  }
}

.logo_bottom {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.socials {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 4.7rem 0 4.7rem 0;
}

.content {
  border-bottom: 3px solid $golden;
}
