.text {
  color: white;
  text-transform: uppercase;
}

.copy {
  .today {
    .dzis {
      font-size: 4.562em;
    }

    .zdarza_sie {
      font-size: 1.625em;
    }

    .tylko_raz {
      font-size: 3.625em;
      left: 1.375rem;
    }
  }

  .makeItCount {
    .make_it {
      font-size: 2.3em;
      font-weight: 400;
      text-align: right;
    }

    .count {
      font-size: 3em;
      letter-spacing: -2px;
      text-align: center;
    }
  }
}

.statement_input,
.statement_input_exp {
  font-size: 2.3125rem;
  textarea,
  input {
    font-size: 2.0625rem;
  }
  input,
  input::placeholder {
    text-transform: uppercase;
    color: $goldenDark;
  }
  .masz {
    font-size: 1.3125rem;
  }
  .buttons {
    a {
      text-decoration: none;
    }
  }
  .checkboxes {
    font-size: 1.8125rem;
  }
}

.info {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: $darkGrey;
}

.about {
  font-size: 2.875rem;
}
