*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text-transform-none {
  text-transform: none;
}

.u-text-center {
  text-align: center;
}

.u-align__center {
  text-align: center;
}

.u-golden-bottom {
  border-bottom: 3px solid #baab8f;
}

.u-golden {
  color: #baab8f;
}

.u-white {
  color: #ffffff;
}

.u-absolute {
  position: absolute;
}

@font-face {
  font-family: "FranklinGothic-Demi";
  src: url("/styles/fonts/FranklinGothic-Demi.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-franklin-demi {
  font-family: 'FranklinGothic-Demi', 'Arial', Arial, sans-serif;
}

@font-face {
  font-family: "JasperPlCaps";
  src: url("/styles/fonts/JasperPlCaps.woff2") format("woff2"), url("/styles/fonts/JasperPlCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-jasper-caps {
  font-family: 'JasperPlCaps', 'Arial Black', Arial, sans-serif;
}

@font-face {
  font-family: "MotlowPl";
  src: url("/styles/fonts/MotlowPl.woff2") format("woff2"), url("/styles/fonts/MotlowPl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-motlow {
  font-family: 'MotlowPl', 'Arial Black', Arial, sans-serif;
}

.-f-myriad-cond {
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
}

.-f-myriad-light {
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
}

.c-h-form__input {
  padding: 1rem 1rem 2.5rem 1rem;
  width: 100%;
  background: black;
  border-radius: 0.5rem;
  border: 2px solid #828282;
  font-size: 2.3125rem;
  color: #ffffff;
}

.c-h-form__input:focus {
  outline: none;
  border: 2px solid #d67c1c;
}

.c-h-form__input::-webkit-input-placeholder {
  color: #ffffff;
  caret-color: #828282;
}

.c-h-form__input:-ms-input-placeholder {
  color: #ffffff;
  caret-color: #828282;
}

.c-h-form__input::-ms-input-placeholder {
  color: #ffffff;
  caret-color: #828282;
}

.c-h-form__input::placeholder {
  color: #ffffff;
  caret-color: #828282;
}

.c-h-form__label {
  font-size: 1.3125rem;
  color: #b7ac92;
}

.c-h-form__btn {
  border: none;
  background-color: #ee731d;
  color: black;
  padding: 0.5rem;
  width: 28.56rem;
  font-size: 2.3125rem;
}

.c-h-akcja {
  color: #b7ac92;
  text-align: center;
  font-size: 1.8125rem;
}

.c-nav {
  position: relative;
  color: white;
}

.c-nav .c-nav__arrow {
  display: inline-block;
  color: white;
  position: absolute;
  font-size: 4rem;
  font-weight: 700;
}

.c-nav .c-nav__btn {
  display: block;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.2rem;
  padding: 2.2rem 0 2.2rem 0;
  border-bottom: 3px solid #b7ac92;
}

.c-footer {
  color: #959595;
  font-size: 1.8125rem;
  letter-spacing: 0.01312rem;
}

.l-wrapper {
  background: #000000;
  width: 45rem;
  margin: 0 auto 0 auto;
}

.l-footer {
  width: 39.625rem;
  height: 65.3125rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 19.375rem;
}

.l-footer__socials {
  position: relative;
  bottom: 2.875rem;
}

.l-h-container {
  width: 38.75rem;
  height: 137.5rem;
  margin-right: auto;
  margin-left: auto;
  top: 4.375rem;
  position: relative;
  color: #ffffff;
}

.l-h-bottle_w_shadow {
  top: -0.3125rem;
  right: 1.625rem;
}

.l-h-live_icon {
  right: 0;
  width: auto;
  max-width: 4.5rem;
}

.l-h-slogan {
  width: 9.125rem;
  height: 10.6875rem;
  top: 0.625rem;
  left: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-h-slogan .l-h-slogan__today .l-h-slogan__dzis {
  position: relative;
  left: 0.4375rem;
  font-size: 2.75rem;
  margin: 0;
}

.l-h-slogan .l-h-slogan__today .l-h-slogan__zdarza {
  position: relative;
  top: -0.75rem;
  font-size: 0.625rem;
  font-size: 1rem;
  margin: 0;
}

.l-h-slogan .l-h-slogan__today .l-h-slogan__tylko {
  position: relative;
  top: -0.5625rem;
  left: 0.8125rem;
  font-size: 2.1875rem;
  margin: 0;
}

.l-h-slogan .l-h-slogan__m_i_c .l-h-slogan__logo {
  display: block;
  position: relative;
  left: 50%;
  bottom: 0.3125rem;
  margin-left: -1.15625rem;
  width: 2.3125rem;
}

.l-h-slogan .l-h-slogan__m_i_c .l-h-slogan__make {
  font-size: 1.375rem;
}

.l-h-slogan .l-h-slogan__m_i_c .l-h-slogan__count {
  font-size: 1.8125rem;
}

.l-h-copy {
  position: relative;
  width: 100%;
  margin-top: 57.5625rem;
}

.l-h-copy .l-h-copy__mamy {
  position: relative;
  left: 3.625rem;
  font-size: 2.625rem;
}

.l-h-copy .l-h-copy__wielkie {
  position: relative;
  bottom: 0.3125rem;
  font-size: 3.5rem;
}

.l-h-copy .l-h-copy__napelnijmy {
  position: relative;
  left: 2.625rem;
  bottom: 0.8125rem;
  font-size: 2rem;
}

.l-h-copy .l-h-copy__butelke {
  position: relative;
  bottom: 0.5625rem;
  left: -0.1875rem;
  font-size: 3.5rem;
}

.l-h-copy .l-h-copy__jacka {
  position: relative;
  bottom: 5.375rem;
  text-align: end;
  font-size: 5.25rem;
}

.l-h-form {
  position: relative;
  bottom: 5.9375rem;
  width: 100%;
}

.l-h-form .l-h-form__input {
  margin-top: 0.5rem;
}

.l-h-form .l-h-form__label {
  position: relative;
  left: 29.25rem;
  top: 0.25rem;
}

.l-h-form .l-h-form__btn {
  position: relative;
  top: 3.5625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.l-h-akcja {
  position: relative;
  margin-top: 9.375rem;
  margin-bottom: 50px;
  width: 100%;
}

.h-nav {
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  height: auto;
  max-height: 44.4rem;
}

.h-is__closed {
  max-height: 0;
}

.h-is__up {
  right: 16rem;
  top: 2.4375rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.h-is__down {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  top: 0.875rem;
  right: 16.5rem;
}
/*# sourceMappingURL=style.css.map */