*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-align__center {
  text-align: center;
}

@font-face {
  font-family: "FranklinGothic-Demi";
  src: url("/styles/fonts/FranklinGothic-Demi.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-franklin-demi {
  font-family: 'FranklinGothic-Demi', 'Arial', Arial, sans-serif;
}

@font-face {
  font-family: "JasperPlCaps";
  src: url("/styles/fonts/JasperPlCaps.woff2") format("woff2"), url("/styles/fonts/JasperPlCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-jasper-caps {
  font-family: 'JasperPlCaps', 'Arial Black', Arial, sans-serif;
}

@font-face {
  font-family: "MotlowPl";
  src: url("/styles/fonts/MotlowPl.woff2") format("woff2"), url("/styles/fonts/MotlowPl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-motlow {
  font-family: 'MotlowPl', 'Arial Black', Arial, sans-serif;
}

.-f-myriad-cond {
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
}

.-f-myriad-light {
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
}

.l-wrapper {
  background: #000000;
  width: 45rem;
  margin: 0 auto 0 auto;
}

.l-wrapper img {
  position: absolute;
}

.l-h-container {
  width: 38.75rem;
  height: 137.5rem;
  margin-right: auto;
  margin-left: auto;
  top: 4.375rem;
  position: relative;
  color: #ffffff;
}

.l-h-bottle_w_shadow {
  top: -0.3125rem;
  right: 1.625rem;
}

.l-h-live_icon {
  right: 0;
  width: auto;
  max-width: 4.5rem;
}

.l-h-copy {
  width: 9.125rem;
  height: 10.6875rem;
  top: 0.625rem;
  left: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-h-copy .l-h-copy__today .l-h-copy__dzis {
  position: relative;
  left: 0.4375rem;
  font-size: 2.75rem;
  margin: 0;
}

.l-h-copy .l-h-copy__today .l-h-copy__zdarza {
  position: relative;
  top: -0.75rem;
  font-size: 0.625rem;
  font-size: 1rem;
  margin: 0;
}

.l-h-copy .l-h-copy__today .l-h-copy__tylko {
  position: relative;
  top: -0.5625rem;
  left: 0.8125rem;
  font-size: 2.1875rem;
  margin: 0;
}

.l-h-copy .l-h-copy__m_i_c .l-h-copy__logo {
  display: block;
  position: relative;
  left: 50%;
  bottom: 0.3125rem;
  margin-left: -1.15625rem;
  width: 2.3125rem;
}

.l-h-copy .l-h-copy__m_i_c .l-h-copy__make {
  font-size: 1.375rem;
}

.l-h-copy .l-h-copy__m_i_c .l-h-copy__count {
  font-size: 1.8125rem;
}
/*# sourceMappingURL=style.css.map */