@font-face {
  font-family: "FranklinGothic-Book";
  src: url("/styles/fonts/FranklinGothic-Book.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgBook {
  font-family: 'FranklinGothic-Book', 'Arial', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-BookItalic";
  src: url("/styles/fonts/FranklinGothic-BookItalic.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgBookI {
  font-family: 'FranklinGothic-BookItalic', 'Arial Italic', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-Demi";
  src: url("/styles/fonts/FranklinGothic-Demi.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgDemi {
  font-family: 'FranklinGothic-Demi', 'Arial', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-DemiItalic";
  src: url("/styles/fonts/FranklinGothic-DemiItalic.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-DemiItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgDemiI {
  font-family: 'FranklinGothic-DemiItalic', 'Arial italic', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-Heavy";
  src: url("/styles/fonts/FranklinGothic-Heavy.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgHeavy {
  font-family: 'FranklinGothic-Heavy', 'Arial Black', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-HeavyItalic";
  src: url("/styles/fonts/FranklinGothic-HeavyItalic.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgHeavyI {
  font-family: 'FranklinGothic-HeavyItalic', 'Arial Black Italic', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-Medium";
  src: url("/styles/fonts/FranklinGothic-Medium.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fgMedium {
  font-family: 'FranklinGothic-Medium', 'Arial Black', Arial, sans-serif;
}

@font-face {
  font-family: "JasperPlCaps";
  src: url("/styles/fonts/JasperPlCaps.woff2") format("woff2"), url("/styles/fonts/JasperPlCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.jasper {
  font-family: 'JasperPlCaps', 'Arial Black', Arial, sans-serif;
}

@font-face {
  font-family: "MotlowPl";
  src: url("/styles/fonts/MotlowPl.woff2") format("woff2"), url("/styles/fonts/MotlowPl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.motlow {
  font-family: 'MotlowPl', 'Arial Black', Arial, sans-serif;
}

.myriad {
  font-family: myriad-pro-condensed, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.golden {
  color: #baab8f;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 16px;
  }
}

.text {
  color: white;
  text-transform: uppercase;
}

.main .dzis {
  font-size: 5.75em;
}

.main .zdarza_sie {
  font-size: 2em;
}

.main .tylko_raz {
  font-size: 4.625em;
  left: 1.375rem;
}

.slogan .make_it {
  font-size: 2.3em;
  font-weight: 400;
  text-align: right;
}

.slogan .count {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

.info {
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #828282;
}

.odkryj {
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2rem;
  text-align: right;
  text-transform: uppercase;
}

.napisz {
  overflow-wrap: break-word;
  width: 427px;
  height: 105px;
  font-family: myriad-pro-condensed, sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  background: none;
}

.napisz :placeholder-shown {
  color: white;
  opacity: 1;
}

.about {
  font-size: 2.875rem;
}

body {
  background-color: black;
}

.container {
  position: relative;
  width: auto;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  position: relative;
  max-height: 102rem;
}

.hero .bottle {
  position: relative;
  z-index: 0;
  width: 100%;
}

.hero .live {
  position: absolute;
  right: 3.125rem;
  top: 4.375rem;
}

.hero .text {
  position: relative;
  color: white;
}

.hero .main {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 3.125rem;
}

.hero .main .dzis {
  position: relative;
  left: 0.875rem;
  margin: 0;
}

.hero .main .zdarza_sie {
  position: relative;
  top: -1.35rem;
  margin: 0;
}

.hero .main .tylko_raz {
  position: relative;
  top: -0.5rem;
  left: 1.2rem;
  margin: 0;
}

.hero .slogan {
  position: absolute;
  top: 24rem;
  left: 7rem;
  max-width: 6.75rem;
}

.hero .slogan .small_logo {
  position: relative;
  display: block;
  left: 50%;
  margin-left: -30.5px;
}

.hero .slogan .make_it {
  position: relative;
  top: 0.7rem;
  margin: 0;
  min-width: 6.75rem;
}

.hero .slogan .count {
  position: relative;
  top: 1rem;
  margin: 0;
  min-width: 6.75rem;
}

.hero .info {
  position: absolute;
  top: 83.5rem;
  width: 100%;
}

.hero .logo {
  position: absolute;
  top: 93.875rem;
  display: block;
  left: 50%;
  margin-left: -112px;
}

.hero .scroll {
  position: absolute;
  top: 54rem;
  width: 100%;
}

.hero .scroll .odkryj {
  position: relative;
  top: 5rem;
  left: 4rem;
  width: 207px;
  height: 68px;
}

.hero .main_input {
  position: absolute;
  bottom: 22rem;
  width: 100%;
}

.hero .main_input .outline {
  margin-left: auto;
  margin-right: auto;
}

.hero .main_input .napisz {
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}

.contact {
  max-height: 123.05rem;
  height: 123.05rem;
}

.contact .info {
  padding-top: 3rem;
}

.logo_bottom {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

button {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
}

.outer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 82px;
  height: 128px;
  border-radius: 41px;
  border: 2px solid #828282;
}

.inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 82px;
  position: relative;
  top: 29px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #828282;
}

.main_input .outline {
  width: 585px;
  height: 159px;
  border-radius: 30px 30px 0 0;
  border: 2px solid #959595;
  background-color: #000000;
  opacity: 0.82;
}

.title {
  font-family: 'JasperPlCaps', 'Arial Black', Arial, sans-serif;
  font-size: 75px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 14rem 0 14rem 0;
  margin: 0;
}

.input_outline {
  width: 39rem;
  border-radius: 1rem;
  border: 2px solid #959595;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.5rem;
}

.multiline {
  height: 25rem;
}

.placeholder {
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.125rem;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  max-width: 30rem;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  background: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  padding: 2.2rem 0 2.2rem 0;
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  border-top: 3px solid #baab8f;
  border-bottom: 3px solid #baab8f;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  color: white;
}

/* Style the collapsible content. Note: hidden by default */
.expanded {
  display: block;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: visibility 0s ease, max-height 1s ease, opacity 1s ease;
  transition: visibility 0s ease, max-height 1s ease, opacity 1s ease;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.collapsed {
  display: block;
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 1s ease-out 0.5s, opacity 1s ease-out, visibility 0s ease 1s;
  transition: max-height 1s ease-out 0.5s, opacity 1s ease-out, visibility 0s ease 1s;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */