.l-f-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-f-form-group {
  display: block;
  position: relative;
  margin-bottom: vwm(58);
}

.l-f-bottle {
  position: absolute;
  right: 0;
  bottom: vwm(-64);
  width: vwm(133);
}

.l-form-label__dsk {
  color: $black-00;
  display: none;
}

.l-f-form-checkbox-container {
  margin-left: auto;
  margin-right: auto;
  width: vwm(420);
}
