@media screen and (min-width: 1000px) {
  .l-h-container {
    padding-top: vwm(115, dsk);
    height: vwm(960, dsk);
    width: vwm(1240, dsk);
  }

  .l-h-live_icon {
    left: vwm(200, dsk);
    top: vwm(115, dsk);
    width: auto;
    width: vwm(53, dsk);
  }

  .l-h-flex_dsk {
    display: flex;
    position: relative;
    bottom: vwm(45, dsk);
    justify-content: space-between;
  }

  .l-copyform-container {
    margin-top: vwm(100, dsk);
  }

  .l-h-animation {
    position: absolute;
    z-index: 0;
  }

  .l-h-slogan {
    z-index: 1;
    width: vwm(240, dsk);
    height: vwm(240, dsk);
    position: relative;
    top: vwm(140, dsk);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .l-h-slogan__today {
      .l-h-slogan__dzis {
        position: relative;
        left: vwm(7, dsk);
        bottom: vwm(7, dsk);
        font-size: vwm(72, dsk);
        margin: 0;
      }
      .l-h-slogan__zdarza {
        position: relative;
        bottom: vwm(17, dsk);
        font-size: vwm(25.2, dsk);
        margin: 0;
      }
      .l-h-slogan__tylko {
        position: relative;
        top: vwm(-14.4, dsk);
        left: vwm(23, dsk);
        font-size: vwm(56.4, dsk);
        margin: 0;
      }
    }
    .l-h-slogan__m_i_c {
      .l-h-slogan__logo {
        display: block;
        position: relative;
        bottom: vwm(8.4, dsk);
        width: vwm(48, dsk);
        left: 50%;
        margin-left: vwm(-24, dsk);
      }
      .l-h-slogan__make {
        font-size: vwm(36, dsk);
      }
      .l-h-slogan__count {
        font-size: vwm(48, dsk);
      }
    }
  }

  .l-h-bottle_w_shadow {
    width: vwm(400, dsk);
    padding: 0;
  }
  .l-h-form-btn {
    position: relative;
    top: unset;
    margin-top: vwm(40, dsk);
  }
}
