@media screen and (min-width: 1000px) {
  .l-cs-container {
    padding-top: vwm(70, dsk);
    height: vwm(960, dsk);
    width: vwm(1240, dsk);
    margin: 0 auto;
  }

  .l-cs-flex-container {
    display: unset;
    .l-cs-btn__zamknij {
      font-size: calc(8px + 0.42vw);
      width: vwm(119, dsk);
      height: vwm(44, dsk);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: vwm(35, dsk) auto 0 auto;
      padding: 0;
    }
  }

  .l-cs-wiadomosc-container {
    margin: 0;
  }

  .c-cs-wiadomosc-container {
    font-size: vwm(24, dsk);
    text-align: center;
    margin-top: vwm(280, dsk);
  }

  .l-cs-bottle {
    display: block;
    position: absolute;
    left: vwm(30, dsk);
    width: vwm(252, dsk);
    bottom: vwm(220, dsk);
  }
}
