@media screen and (min-width: 720px) {
  .l-a-container {
    padding-top: vwm(70, dsk);
    height: vwm(840, dsk);
    width: vwm(1240, dsk);
    margin: 0 auto;
  }

  .l-a-flex {
    margin-top: vwm(10, dsk);
    height: auto;
    display: grid;
    grid-gap: vwm(50, dsk);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: vwm(253, dsk) vwm(206, dsk);
    grid-template-areas:
      'text video video'
      'slogan video video';
  }
  .l-a-flex__text {
    grid-area: text;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
  }
  .l-a-slogan-container {
    grid-area: slogan;
    justify-self: auto;
    align-self: center;
    width: fit-content;
    height: fit-content;
  }
  .l-a-grid-video {
    grid-area: video;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
  }

  .l-a-zaslepka {
    width: vwm(818, dsk);
  }
  .l-a-p-moze {
    margin-top: vwm(26, dsk);
  }
  .c-a-p-jak {
    font-size: vwm(24, dsk);
    letter-spacing: vwm(0.6, dsk);
  }

  .c-a-p-moze {
    font-size: calc(8px + 0.42vw);
    letter-spacing: vwm(0.4, dsk);
  }
  .l-a-slogan-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: vwm(75, dsk);
    .l-a-slogan-dzis {
      position: relative;
      left: vwm(9.4, dsk);
      bottom: vwm(6, dsk);
      font-size: vwm(59, dsk);
      margin: 0;
    }
    .l-a-slogan-zdarza {
      position: relative;
      top: vwm(-13, dsk);
      font-size: vwm(21, dsk);
      margin: 0;
    }
    .l-a-slogan-tylko {
      position: relative;
      top: vwm(-12, dsk);
      left: vwm(17.5, dsk);
      font-size: vwm(47, dsk);
      margin: 0;
    }
  }

  .l-a-akcja {
    padding: vwm(195) 0 vwm(232) 0;
    width: 100%;
  }

  .c-c-disclaimer {
    line-height: 1.1;
  }
}
