@media screen and (min-width: 1000px) {
  .l-p-container {
    padding-top: vwm(70, dsk);
    height: vwm(840, dsk);
    width: vwm(1240, dsk);
  }

  .l-p-flex {
    margin: vwm(70, dsk) auto 0 auto;
    width: vwm(982, dsk);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .l-p-flex-item {
    max-width: vwm(279, dsk);
    height: vwm(569, dsk);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .l-p-innerflex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .l-p-flex-instax-container {
    position: relative;
    margin: 0;
  }

  .l-p-flex-value {
    margin-top: vwm(-17, dsk);
  }

  .l-p-flex-zl {
    position: relative;
    left: vwm(52, dsk);
    bottom: vwm(8, dsk);
  }

  .l-p-flex-na {
    margin-top: vwm(4, dsk);
  }

  .l-p-flex-shadow {
    position: absolute;
  }

  .l-p-flex-qty {
    margin-top: vwm(35, dsk);
    position: relative;
    right: vwm(35, dsk);
  }

  .l-p-flex-jack {
    margin-top: vwm(-8, dsk);
  }

  .l-p-flex-plus {
    position: relative;
    left: vwm(49, dsk);
    bottom: vwm(9, dsk);
  }

  .l-p-flex-instax {
    position: relative;
    left: vwm(21, dsk);
    bottom: vwm(13, dsk);
  }

  .l-p-flex-visualisation {
    margin-bottom: vwm(32, dsk);
  }

  .l-p-flex-visualisation__seven {
    width: vwm(310, dsk);
  }

  .l-p-flex-visualisation__three {
    width: vwm(288, dsk);
  }

  .l-p-flex-visualisation__instax {
    width: vwm(191, dsk);
  }

  .l-p-flex-visualisation {
    z-index: 1;
  }

  .l-p-btn__zamknij {
    display: none;
    margin-top: vwm(60, dsk);
    margin-bottom: vwm(80, dsk);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .c-p-flex-qty__cash {
    font-size: vwm(117, dsk);
  }

  .c-p-flex-x__cash {
    font-size: vwm(58, dsk);
  }

  .c-p-flex-value {
    font-size: vwm(64, dsk);
  }

  .c-p-flex-zl {
    font-size: vwm(29, dsk);
  }

  .c-p-flex-na {
    font-size: vwm(24, dsk);
    text-align: center;
    line-height: vwm(30, dsk);
  }

  .c-p-flex-qty {
    font-size: vwm(73, dsk);
  }

  .c-p-flex-x {
    font-size: vwm(36, dsk);
  }

  .c-p-flex-jack {
    font-size: vwm(64, dsk);
  }

  .c-p-flex-plus {
    font-size: vwm(29, dsk);
  }

  .c-p-flex-instax {
    font-size: vwm(48, dsk);
  }
}
