@media screen and (min-width: 720px) {
  .l-c-container {
    padding-top: vwm(70, dsk);
    height: vwm(840, dsk);
    width: vwm(1240, dsk);
    margin: 0 auto;
  }

  .l-c-form__dsk {
    height: vwm(416, dsk);
    width: vwm(400, dsk);
    margin: vwm(80, dsk) auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .l-c-form-input__dsk {
      width: 100%;
    }
  }

  .l-c-textarea {
    margin-top: 0;
    height: vwm(166, dsk);
  }

  .l-c-form-buttons-container {
    padding-top: 0;
    justify-content: center;
    margin: 0 auto;
  }

  .l-c-form-zamknij,
  .l-c-form-btn {
    font-size: calc(8px + 0.42vw);
    width: vwm(119, dsk);
    height: vwm(44, dsk);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .l-c-disclaimer {
    padding-top: vwm(70, dsk);
    font-size: calc(4px + 0.42vw);
    width: vwm(511, dsk);
    margin: 0 auto;
    color: $grey-74;
  }

  .l-c-container {
    padding-top: vwm(70, dsk);
    padding-bottom: vwm(260, dsk);
  }

  .l-c-bottle {
    display: block;
    position: relative;
    left: vwm(60, dsk);
    width: vwm(252, dsk);
    bottom: vwm(700, dsk);
  }
}
