@media screen and (min-width: 1000px) {
  .l-h-container {
    padding-top: 0;
    height: vwm(960, dsk);
    width: 90vw;
  }

  // .l-h-live_icon {
  //   left: vwm(200, dsk);
  //   top: vwm(115, dsk);
  //   width: auto;
  //   width: vwm(53, dsk);
  // }

  .l-h-flex_dsk {
    display: flex;
    position: relative;
    bottom: vwm(45, dsk);
    justify-content: space-between;
  }

  .p5canvas {
    width: vwm(1139, dsk);
  }

  .l-copyform-container {
    margin-top: vwm(100, dsk);
  }

  .l-h-animation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: vwm(1140, dsk);
    height: vwm(1050, dsk);
    z-index: 0;
  }

  .l-h-slogan {
    position: relative;
    bottom: vwm(100, dsk);
    z-index: 1;
    width: vwm(480, dsk);
    height: vwm(480, dsk);
    position: relative;
    top: vwm(280, dsk);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-rendering: geometricPrecision;
    p {
      text-rendering: geometricPrecision;
    }
    .l-h-slogan__today {
      .l-h-slogan__dzis {
        position: relative;
        left: vwm(14, dsk);
        bottom: vwm(14, dsk);
        font-size: vwm(144, dsk);
        margin: 0;
      }
      .l-h-slogan__zdarza {
        position: relative;
        bottom: vwm(35, dsk);
        font-size: vwm(50.4, dsk);
        margin: 0;
      }
      .l-h-slogan__tylko {
        position: relative;
        top: vwm(-29, dsk);
        left: vwm(46, dsk);
        font-size: vwm(113, dsk);
        margin: 0;
      }
    }
    .l-h-slogan__m_i_c {
      position: relative;

      left: vwm(114, dsk);
      .l-h-slogan__logo {
        display: block;
        position: relative;
        bottom: vwm(17, dsk);
        width: vwm(100, dsk);
        left: 50%;
        margin-left: vwm(-48, dsk);
      }
      .l-h-slogan__make {
        font-size: vwm(72, dsk);
      }
      .l-h-slogan__count {
        font-size: vwm(96, dsk);
      }
    }
  }

  .l-h-bottle_w_shadow {
    width: vwm(400, dsk);
    padding: 0;
  }
  .l-h-form-btn {
    position: relative;
    top: unset;
    margin-top: vwm(40, dsk);
  }
}
