@media screen and (min-width: 1000px) {
  .c-h-form-btn,
  .c-f-form-btn {
    border: none;
    background-color: #ee731d;
    color: black;
    padding: vwm(4, dsk);
    font-size: vwm(24, dsk);
    text-transform: uppercase;
  }

  .l-f-container {
    padding-top: vwm(70, dsk);
    padding-bottom: vwm(70, dsk);
  }

  .c-f-form-group {
    width: vwm(300, dsk);
    padding-left: vwm(40, dsk);
    font-size: calc(6px + 0.42vw);
    /* Create a custom checkbox */
    .c-checkmark {
      top: vwm(5, dsk);
      left: 0;
      height: vwm(10, dsk);
      width: vwm(10, dsk);
    }
  }

  .l-f-form__personal__dsk {
    margin-top: vwm(40, dsk);
  }

  .l-form-label__dsk {
    color: $black-00;
    display: inline;
  }

  // .l-f-form__dsk {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: auto auto;
  //   grid-template-areas:
  //     'textarea textinputs'
  //     'checkboxes buttons';
  // }
  .l-f-form-textarea__dsk {
    // grid-area: textarea;
    // justify-self: start;
    height: vwm(199, dsk);
  }
  .l-f-form-textinputs__dsk {
    margin-top: vwm(40, dsk);
    // grid-area: textinputs;
    // justify-self: end;
    // height: vwm(199, dsk);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .table-container__dsk {
    display: table;
  }

  .table-item__dsk {
    display: table-cell;
  }

  .l-f-form-imie {
    padding-right: vwm(10, dsk);
  }

  .l-f-form-nazwisko {
    padding-left: vwm(10, dsk);
  }

  .l-form-input__1,
  .l-form-input {
    margin-top: vwm(30, dsk);
  }

  .l-f-form-checkbox-container {
    // grid-area: checkboxes;
    // justify-self: start;
    height: vwm(88, dsk);
    width: fit-content;
    margin: vwm(40, dsk) auto 0 auto;
  }
  .l-f-form-buttons-container {
    // grid-area: buttons;
    // justify-self: end;
    margin: vwm(40, dsk) auto 0 auto;
  }

  .l-f-form-group {
    margin-bottom: vwm(25, dsk);
    .c-checkmark {
      position: absolute;
      top: vwm(5, dsk);
      height: vwm(14, dsk);
      width: vwm(14, dsk);
      border: 1px solid $gold-92;
    }
  }

  .l-f-form-zamknij {
    font-size: vwm(16, dsk);
  }

  .l-f-form-btn {
    font-size: vwm(24, dsk);
    width: vwm(292, dsk);
  }

  .l-f-bottle {
    width: vwm(252, dsk);
    left: vwm(-380, dsk);
    bottom: vwm(-85, dsk);
  }
}
