.form_exp {
  position: relative;
  top: 3.125rem;
  height: 120rem;
  .close {
    position: relative;
    margin-left: 37.2rem;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
  }
  .copy {
    @include today(1rem);
    left: 13rem;
  }
  .statement_input_exp {
    position: relative;
    top: 2.5rem;
    width: 100%;
    textarea {
      margin-top: 1.5rem;
      padding: 1rem 2rem 2.5rem 2rem;
      width: 100%;
      background: black;
      border-radius: 0.5rem;
      border: 3px solid $darkGrey;
    }
    .placeholder {
      position: absolute;
      left: 2.2rem;
      top: 8.5rem;
    }
    textarea[required]:invalid + .placeholder {
      display: inline-block;
    }
    textarea[required]:valid + .placeholder {
      display: none;
    }
    .napisz {
      position: relative;
      left: 2.2rem;
    }
    .masz {
      position: relative;
      top: 1.7rem;
      left: 3.9rem;
    }
    input {
      padding: 1rem 2rem 1rem 2rem;
      width: 100%;
      background: black;
      border-radius: 0.5rem;
      border: 2px solid $darkGrey;
    }
    .imie {
      margin-top: 4.5rem;
    }
    .email {
      margin-top: 3.5rem;
    }
    .cta {
      width: 28.5rem;
    }
    .buttons {
      margin-left: 2.1rem;
      height: 4rem;
      margin-top: 4rem;
    }
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .checkboxes {
      margin-top: 9rem;
      .group {
        display: block;
        position: relative;
        width: 28rem;
        height: 6.375rem;
        padding-left: 2.5rem;
        cursor: pointer;
        /* Hide the browser's default checkbox */
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0.6rem;
          left: 0;
          height: 1.25rem;
          width: 1.25rem;
          border: 2px solid $golden;
        }
        /* When the checkbox is checked, add an orange background */
        input:checked ~ .checkmark {
          background-color: $orangePale;
        }
      }
      .bottle {
        right: 0;
        bottom: -4rem;
      }
    }
  }
  .info {
    position: relative;
    top: 9rem;
  }
}
