body {
  background-color: #000000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  font-display: block;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

::-moz-placeholder {
  opacity: 1;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-no-text-transform {
  text-transform: none;
}

.u-no-text-decoration {
  text-decoration: none;
}

.u-text-center {
  text-align: center;
}

.u-align__center {
  text-align: center;
}

.u-golden-bottom {
  border-bottom: 3px solid #baab8f;
}

.u-golden {
  color: #baab8f;
}

.u-golden-92 {
  color: #b7ac92;
}

.u-grey-82 {
  color: #828282;
}

.u-white {
  color: #ffffff;
}

.u-absolute {
  position: absolute;
}

.u-flex__dsk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.-f-finlandia {
  font-family: 'FinlandiaHeadlineApp', 'myriad-pro-condensed', Arial, sans-serif;
}

@font-face {
  font-family: "FranklinGothic-Demi";
  src: url("/styles/fonts/FranklinGothic-Demi.woff2") format("woff2"), url("/styles/fonts/FranklinGothic-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-franklin-demi {
  font-family: 'FranklinGothic-Demi', 'Arial', Arial, sans-serif;
}

@font-face {
  font-family: "JasperPlCaps";
  src: url("/styles/fonts/JasperPlCaps.woff2") format("woff2"), url("/styles/fonts/JasperPlCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-jasper-caps {
  font-family: 'JasperPlCaps', 'Arial Black', Arial, sans-serif;
}

@font-face {
  font-family: "MotlowPl";
  src: url("/styles/fonts/MotlowPl.woff2") format("woff2"), url("/styles/fonts/MotlowPl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.-f-motlow {
  font-family: 'MotlowPl', 'Arial Black', Arial, sans-serif;
}

.-f-myriad-cond {
  font-family: myriad-pro-condensed, sans-serif;
  font-weight: 700;
}

.-f-myriad-light {
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
}

.c-close {
  position: relative;
  margin-left: 82.63889vw;
  font-size: 4.44444vw;
  color: #ffffff;
  text-decoration: none;
}

.c-title {
  font-size: 10.41667vw;
  text-align: center;
}

.c-copy-napelnijmy {
  text-transform: uppercase;
}

.c-form-label__masz {
  font-size: 2.91667vw;
  color: #b7ac92;
  text-transform: none;
}

.c-form-textarea,
.c-form-input,
.c-c-textarea {
  padding: 2.22222vw 2.22222vw 5.55556vw 2.22222vw;
  width: 100%;
  background: black;
  border-radius: 8px;
  border: 2px solid #828282;
  font-size: 5.13889vw;
  caret-color: #828282;
}

.c-form-textarea {
  padding: 2.22222vw 2.22222vw 5.55556vw 2.22222vw;
  color: #ffffff;
}

.c-form-input {
  padding: 2.22222vw 2.22222vw 2.22222vw 2.22222vw;
  color: #b7ac92;
}

.c-form-textarea:focus,
.c-form-input:focus,
.c-h-form__btn:focus,
.c-f-form-btn:focus,
.c-f-form-zamknij:focus,
.c-c-form-btn:focus,
.c-c-form-zamknij:focus {
  outline: none;
  border: 2px solid #d67c1c;
}

.c-form-textarea::-webkit-input-placeholder {
  color: #ffffff;
}

.c-form-textarea:-ms-input-placeholder {
  color: #ffffff;
}

.c-form-textarea::-ms-input-placeholder {
  color: #ffffff;
}

.c-form-textarea::placeholder {
  color: #ffffff;
}

.c-form-input::-webkit-input-placeholder {
  color: #b7ac92;
}

.c-form-input:-ms-input-placeholder {
  color: #b7ac92;
}

.c-form-input::-ms-input-placeholder {
  color: #b7ac92;
}

.c-form-input::placeholder {
  color: #b7ac92;
}

.c-f-form-zamknij,
.c-c-form-btn {
  border: none;
  padding: 0.06944vw;
  font-size: 5.13889vw;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.c-h-form-btn,
.c-f-form-btn {
  border: none;
  background-color: #ee731d;
  color: black;
  padding: 1.11111vw;
  font-size: 5.13889vw;
  text-transform: uppercase;
  width: 63.33333vw;
}

.c-f-form-group {
  width: 62.22222vw;
  padding-left: 5.55556vw;
  cursor: pointer;
  font-size: 4.02778vw;
  text-transform: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add an orange background */
}

.c-f-form-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.c-f-form-group .c-checkmark {
  position: absolute;
  top: 1.38889vw;
  left: 0;
  height: 2.77778vw;
  width: 2.77778vw;
  border: 2px solid #baab8f;
}

.c-f-form-group input:checked ~ .c-checkmark {
  background-color: #d67c1c;
}

.c-akcja {
  color: #b7ac92;
  text-align: center;
  font-size: 4.02778vw;
}

.c-nav {
  position: relative;
  color: white;
}

.c-nav .c-nav__btn {
  display: block;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5vw;
  padding: 5vw 0 5vw 0;
  border-bottom: 3px solid #b7ac92;
}

.c-footer {
  color: #959595;
  font-size: 4.02778vw;
  letter-spacing: 0.02917vw;
}

.c-fs-zgloszenie-container,
.c-cs-wiadomosc-container {
  font-size: 4.16667vw;
  text-align: center;
}

.c-fs-doodwaznych-container {
  font-size: 4.58333vw;
  text-align: center;
}

.c-fs-twoje-container {
  font-size: 3.47222vw;
  text-align: center;
  text-transform: none;
}

.c-btn__zamknij {
  padding: 1.38889vw 2.77778vw;
  font-size: 5.27778vw;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #000000;
  width: 25vw;
}

.c-btn__wejdz {
  padding: 5.55556vw 2.77778vw;
  width: 43.05556vw;
  display: block;
  font-size: 5.83333vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #000000;
}

.c-p-flex-qty__cash {
  font-size: 16.25vw;
}

.c-p-flex-x__cash {
  font-size: 8.05556vw;
}

.c-p-flex-value {
  font-size: 8.88889vw;
}

.c-p-flex-zl {
  font-size: 4.02778vw;
}

.c-p-flex-na {
  font-size: 3.33333vw;
  text-align: center;
  line-height: 4.16667vw;
}

.c-p-flex-qty {
  font-size: 10.13889vw;
}

.c-p-flex-x {
  font-size: 5vw;
}

.c-p-flex-jack {
  font-size: 8.88889vw;
}

.c-p-flex-plus {
  font-size: 4.02778vw;
}

.c-p-flex-instax {
  font-size: 6.66667vw;
}

.c-faq-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b7ac92;
  text-align: left;
  outline: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 4.58333vw;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-faq-arrow {
  width: 5vw;
}

.c-faq-p {
  font-size: 4.58333vw;
  text-transform: none;
}

.c-a-p-jak {
  font-size: 4.58333vw;
  letter-spacing: 0.13056vw;
}

.c-a-p-moze {
  font-size: 4.58333vw;
  letter-spacing: 0.11528vw;
}

.c-c-textarea {
  color: #b7ac92;
}

.c-c-textarea::-webkit-input-placeholder {
  color: #b7ac92;
}

.c-c-textarea:-ms-input-placeholder {
  color: #b7ac92;
}

.c-c-textarea::-ms-input-placeholder {
  color: #b7ac92;
}

.c-c-textarea::placeholder {
  color: #b7ac92;
}

.c-c-form-zamknij {
  padding: 0.97222vw 2.77778vw;
  font-size: 5.27778vw;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background-color: none;
}

.c-c-akcja {
  text-transform: uppercase;
}

.c-age-data-container {
  font-size: 5.55556vw;
  text-align: center;
}

.c-age-input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: #272727;
  border: 2px solid #272727;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  font-size: 7.22222vw;
  margin: 0 0.55556vw;
  outline: none;
  padding: 4.16667vw 1.52778vw;
  text-align: center;
  -webkit-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
  vertical-align: bottom;
}

.c-age-input::-webkit-input-placeholder {
  color: #828282;
}

.c-age-input:-ms-input-placeholder {
  color: #828282;
}

.c-age-input::-ms-input-placeholder {
  color: #828282;
}

.c-age-input::placeholder {
  color: #828282;
}

.c-age-strona-container {
  font-size: 5.27778vw;
  text-align: center;
}

.l-wrapper {
  background: #000000;
  width: 100vw;
  margin: 0 auto;
  color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: contain;
}

.l-container {
  width: 86%;
  margin: 0 auto;
  padding-top: 10vw;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
}

.l-footer {
  width: 86%;
  margin: 0 auto;
  height: 145.13889vw;
  padding-top: 43.05556vw;
}

.l-footer__socials {
  position: relative;
  bottom: 6.38889vw;
}

.l-copy {
  position: relative;
  width: auto;
  height: 24.16667vw;
}

.l-copy .l-copy-mamy {
  position: relative;
  left: 8.05556vw;
  font-size: 5.83333vw;
}

.l-copy .l-copy-wielkie {
  position: relative;
  bottom: 0.69444vw;
  font-size: 7.77778vw;
}

.l-copy .l-copy-napelnijmy {
  position: relative;
  left: 5.83333vw;
  bottom: 1.80556vw;
  font-size: 4.44444vw;
}

.l-copy .l-copy-butelke {
  position: relative;
  bottom: 1.25vw;
  left: -0.41667vw;
  font-size: 7.77778vw;
}

.l-copy .l-copy-jacka {
  position: relative;
  bottom: 11.94444vw;
  text-align: end;
  font-size: 11.66667vw;
}

.l-form {
  position: relative;
  width: 100%;
}

.l-form-textarea {
  margin-top: 0.06944vw;
}

.l-form-label__masz {
  position: relative;
  left: 65vw;
}

.l-form-input {
  margin-top: 8.33333vw;
}

.l-form-input__1 {
  margin-top: 12.5vw;
}

.l-f-form-buttons-container {
  margin-top: 8.33333vw;
}

.l-f-form-checkbox-container {
  margin-top: 19.44444vw;
}

.l-akcja {
  padding: 26.11111vw 0 32.22222vw 0;
  width: 100%;
}

.l-age-kreski {
  height: 8.05556vw;
}

.l-age-logo {
  width: 26.94444vw;
}

.l-age-flex-container,
.l-age-flex-container__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-age-flex-container {
  height: 78.33333vw;
  margin-top: 6.11111vw;
  margin-bottom: 9.44444vw;
}

.l-age-data-container {
  margin: 0 -3.47222vw;
}

.l-copyform-container {
  margin-top: 8.19444vw;
}

.l-h-bottle_w_shadow {
  display: block;
  width: 75.27778vw;
  padding-left: 7.22222vw;
  padding-right: 3.61111vw;
}

.l-h-live_icon {
  position: absolute;
  top: 9.72222vw;
  right: 0;
  width: auto;
  max-width: 10vw;
}

.l-h-slogan {
  width: 20.27778vw;
  height: 23.75vw;
  position: absolute;
  top: 9.72222vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-h-slogan .l-h-slogan__today .l-h-slogan__dzis {
  position: relative;
  left: 0.97222vw;
  font-size: 6.11111vw;
  margin: 0;
}

.l-h-slogan .l-h-slogan__today .l-h-slogan__zdarza {
  position: relative;
  top: -1.66667vw;
  font-size: 1.38889vw;
  font-size: 2.22222vw;
  margin: 0;
}

.l-h-slogan .l-h-slogan__today .l-h-slogan__tylko {
  position: relative;
  top: -1.25vw;
  left: 1.80556vw;
  font-size: 4.86111vw;
  margin: 0;
}

.l-h-slogan .l-h-slogan__m_i_c .l-h-slogan__logo {
  display: block;
  position: relative;
  left: 50%;
  bottom: 0.69444vw;
  margin-left: -2.56944vw;
  width: 5.13889vw;
}

.l-h-slogan .l-h-slogan__m_i_c .l-h-slogan__make {
  font-size: 3.05556vw;
}

.l-h-slogan .l-h-slogan__m_i_c .l-h-slogan__count {
  font-size: 4.02778vw;
}

.l-h-form {
  bottom: 13.19444vw;
}

.l-h-form-btn {
  position: relative;
  top: 7.91667vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.l-h-akcja {
  position: relative;
  margin-top: 36.11111vw;
  margin-bottom: 50px;
  width: 100%;
}

.l-f-form-buttons-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-f-form-group {
  display: block;
  position: relative;
  margin-bottom: 8.05556vw;
}

.l-f-bottle {
  position: absolute;
  right: 0;
  bottom: -8.88889vw;
}

.l-fs-container {
  height: auto;
}

.l-fs-slogan-container {
  font-size: 26.545454px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.l-fs-slogan-container .l-fs-slogan-dzis {
  position: relative;
  font-size: 10.08333vw;
  margin: 0;
}

.l-fs-slogan-container .l-fs-slogan-zdarza {
  position: relative;
  top: -2.08333vw;
  right: 1.38889vw;
  font-size: 2.29167vw;
  font-size: 3.66667vw;
  margin: 0;
}

.l-fs-slogan-container .l-fs-slogan-tylko {
  position: relative;
  top: -1.66667vw;
  left: 1.94444vw;
  font-size: 8.02083vw;
  margin: 0;
}

.l-fs-zgloszenie-container {
  margin-top: 0.27778vw;
}

.l-fs-doodwaznych-container {
  margin-top: 3.47222vw;
}

.l-fs-twoje-container {
  margin-top: 3.47222vw;
  width: 72.22222vw;
  margin-left: auto;
  margin-right: auto;
}

.l-fs-btn__zamknij {
  display: block;
  margin-top: 8.33333vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.l-fs-bottle {
  display: block;
  margin-top: 4.30556vw;
  margin-right: auto;
  margin-left: auto;
}

.l-p-container {
  height: auto;
}

.l-p-akcja {
  position: relative;
  margin-top: 28.88889vw;
  margin-bottom: 50px;
  width: 100%;
}

.l-p-flex {
  margin-top: 9.72222vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-p-flex-item {
  max-width: 37.5vw;
  height: 79.02778vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-p-innerflex-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-p-flex-instax-container {
  position: relative;
  margin-top: 4.16667vw;
  margin-left: auto;
  margin-right: auto;
}

.l-p-flex-value {
  margin-top: -2.36111vw;
}

.l-p-flex-zl {
  position: relative;
  left: 7.22222vw;
  bottom: 1.11111vw;
}

.l-p-flex-na {
  margin-top: 0.55556vw;
}

.l-p-flex-shadow {
  position: absolute;
}

.l-p-flex-qty {
  margin-top: 4.86111vw;
  position: relative;
  right: 4.86111vw;
}

.l-p-flex-jack {
  margin-top: -1.11111vw;
}

.l-p-flex-plus {
  position: relative;
  left: 6.80556vw;
  bottom: 1.25vw;
}

.l-p-flex-instax {
  position: relative;
  left: 2.91667vw;
  bottom: 1.80556vw;
}

.l-p-flex-visualisation {
  margin-bottom: 4.44444vw;
}

.l-p-flex-visualisation__seven {
  width: 43.05556vw;
}

.l-p-flex-visualisation__three {
  width: 40vw;
}

.l-p-flex-visualisation__instax {
  width: 26.52778vw;
}

.l-p-flex-shadow__seven {
  position: absolute;
  top: 99.58333vw;
  left: 13.47222vw;
}

.l-p-flex-shadow {
  position: absolute;
  top: 95.13889vw;
  left: 58.33333vw;
  z-index: 0;
}

.l-p-flex-visualisation {
  z-index: 1;
}

.l-p-btn__zamknij {
  display: block;
  margin-top: 16.66667vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.l-faq-container {
  height: 283.33333vw;
}

.l-faq-flex > div {
  margin-top: 8.33333vw;
}

.l-faq-flex div > p {
  margin-top: 2.77778vw;
}

.l-faq-bottle {
  width: 27.77778vw;
  margin-top: 11.38889vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.l-a-flex {
  margin-top: 10.13889vw;
  height: 176.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-a-zaslepka {
  width: 86.11111vw;
}

.l-a-p-moze {
  margin-top: 6.94444vw;
}

.l-a-slogan__today {
  margin-left: auto;
  margin-right: auto;
}

.l-a-slogan__today .l-a-slogan__dzis {
  position: relative;
  left: 2.91667vw;
  font-size: 18.33333vw;
  margin: 0;
}

.l-a-slogan__today .l-a-slogan__zdarza {
  position: relative;
  top: -4.30556vw;
  font-size: 4.16667vw;
  font-size: 6.66667vw;
  margin: 0;
}

.l-a-slogan__today .l-a-slogan__tylko {
  position: relative;
  top: -3.75vw;
  left: 6.66667vw;
  font-size: 14.58333vw;
  margin: 0;
}

.l-a-akcja {
  padding: 27.08333vw 0 32.22222vw 0;
  width: 100%;
}

.c-c-disclaimer {
  line-height: 1.1;
}

.l-c-akcja {
  padding: 27.08333vw 0 32.22222vw 0;
  width: 100%;
}

.l-c-textarea {
  margin-top: 8.33333vw;
}

.l-c-form-buttons-container {
  padding-top: 12.08333vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-c-disclaimer {
  padding-top: 10.55556vw;
}

.l-cs-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-cs-wiadomosc-container {
  margin-top: 13.88889vw;
}

.l-cs-bottle {
  margin-top: 11.11111vw;
  width: 42.91667vw;
}

.l-cs-btn__zamknij {
  margin-top: 8.33333vw;
}

.l-nav-arrow {
  position: absolute;
  left: 58.33333vw;
  top: 6.94444vw;
  width: 5vw;
}

.h-nav {
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  height: auto;
  max-height: 44.4rem;
}

.h-is__closed {
  max-height: 0;
}

.h-is__up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 1450px) {
  .l-wrapper {
    width: 90rem;
  }
  .l-h-container,
  .l-f-container,
  .l-fs-container {
    width: 48.75rem;
    height: 56.25rem;
  }
  .l-p-wrapper {
    height: 68.75rem;
  }
  .l-p-container {
    width: 61.375rem;
    height: 56.25rem;
    top: 2.8125rem;
  }
  .l-h-container {
    top: 5.625rem;
  }
  .l-f-container {
    top: 13.75rem;
  }
  .l-close {
    margin-left: 50rem;
    bottom: 12.5rem;
  }
  .l-h-container .l-copyform-container {
    margin-top: 0;
    left: 44.375rem;
  }
  .l-f-container .l-copyform-container {
    width: 51.3125rem;
    left: 9.5rem;
  }
  .l-h-bottle_w_shadow {
    max-height: 47.5rem;
    top: -2.5rem;
    left: 11.25rem;
  }
  .l-h-live_icon {
    right: 0;
    width: auto;
    max-width: 3.3125rem;
  }
  .l-h-slogan {
    position: relative;
    top: 30rem;
    left: -1.25rem;
  }
  .l-copy {
    height: 6.25rem;
  }
  .l-copyform-container {
    margin-top: 0;
    max-width: 25rem;
    position: relative;
  }
  .l-copyform-container .l-copy {
    margin-top: 0rem;
    font-size: 10px;
  }
  .l-copyform-container .l-copy .l-copy-mamy {
    position: relative;
    left: 1.8125rem;
    font-size: 2.625em;
  }
  .l-copyform-container .l-copy .l-copy-wielkie {
    position: relative;
    bottom: 0.1875rem;
    font-size: 3.5em;
  }
  .l-copyform-container .l-copy .l-copy-napelnijmy {
    position: relative;
    left: 1.3125rem;
    bottom: 0.6875rem;
    font-size: 2em;
  }
  .l-copyform-container .l-copy .l-copy-butelke {
    position: relative;
    bottom: 0.6875rem;
    left: -0.1875em;
    font-size: 3.5em;
  }
  .l-copyform-container .l-copy .l-copy-jacka {
    position: relative;
    left: 10.625rem;
    bottom: 3.8125rem;
    text-align: start;
    font-size: 5.25em;
  }
  .l-h-form__dsk {
    max-width: 25rem;
  }
  .l-h-form-btn__dsk {
    top: 50px;
  }
  .c-form-label__masz {
    font-size: 0.875rem;
  }
  .l-form-label__masz {
    left: 18.4375rem;
  }
  .c-form-textarea__dsk {
    font-size: 1.125rem;
    border: 1px solid #828282;
  }
  .c-form-input__dsk {
    font-size: 1rem;
    border: 1px solid #828282;
  }
  .c-h-form-btn {
    font-size: 1.5rem;
    width: 18.125rem;
  }
  .l-h-akcja__dsk {
    width: 100%;
    margin-top: 18.125rem;
  }
  .c-akcja {
    font-size: 1rem;
  }
  .u-golden-bottom {
    border: none;
  }
  .c-nav .js-toggle,
  .c-nav .c-nav__arrow {
    display: none;
  }
  .c-nav .l-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  .c-nav .l-nav .c-nav__btn {
    font-size: 1rem;
    text-decoration: underline;
    border: none;
    width: auto;
    padding: 0;
  }
  .c-footer {
    font-size: 1rem;
  }
  .c-footer .c-footer__socials {
    height: 21px;
  }
  .l-footer {
    height: 12.5rem;
    padding-top: 6.25rem;
  }
  .l-f-form__dsk {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'textarea textinputs' 'checkboxes buttons';
  }
  .l-f-form-textarea__dsk {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: textarea;
    -ms-grid-column-align: start;
        justify-self: start;
    width: 25rem;
  }
  .l-f-form-textinputs__dsk {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: textinputs;
    -ms-grid-column-align: end;
        justify-self: end;
    width: 25rem;
  }
  .l-f-form-checkbox-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: checkboxes;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 2.5rem;
    height: 5.5rem;
  }
  .l-f-form-buttons-container {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: buttons;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: -0.25rem;
  }
  .l-f-form-group {
    font-size: 0.875rem;
    margin-bottom: 1.5625rem;
  }
  .l-f-form-group .c-checkmark {
    position: absolute;
    top: 0.3125rem;
    height: 0.875rem;
    width: 0.875rem;
  }
  .l-form-input__1 {
    margin-top: 1.5625rem;
  }
  .l-form-input {
    margin-top: 1.6875rem;
  }
  .l-f-form-zamknij {
    font-size: 1rem;
  }
  .l-f-form-btn {
    font-size: 1.5rem;
    width: 18.25rem;
  }
  .l-f-bottle {
    width: 14.0625rem;
    left: -23.75rem;
    bottom: 1.875rem;
  }
  .l-f-akcja {
    margin-top: 10px;
    margin-bottom: 1.625rem;
  }
  .l-p-flex-instax-container {
    margin: 0;
  }
  .l-p-btn__zamknij {
    margin-top: 3.5rem;
  }
  .c-btn__zamknij {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #000000;
  }
  .c-title {
    font-size: 2.25rem;
  }
}
/*# sourceMappingURL=style.css.map */