@font-face {
  font-family: "FranklinGothic-Book";
  src: url("/public/styles/fonts/FranklinGothic-Book.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic-BookItalic";
  src: url("/public/styles/fonts/FranklinGothic-BookItalic.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic-Demi";
  src: url("/public/styles/fonts/FranklinGothic-Demi.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic-DemiItalic";
  src: url("/public/styles/fonts/FranklinGothic-DemiItalic.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-DemiItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic-Heavy";
  src: url("/public/styles/fonts/FranklinGothic-Heavy.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic-HeavyItalic";
  src: url("/public/styles/fonts/FranklinGothic-HeavyItalic.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic-Medium";
  src: url("/public/styles/fonts/FranklinGothic-Medium.woff2") format("woff2"), url("/public/styles/fonts/FranklinGothic-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JasperPlCaps";
  src: url("/public/styles/fonts/JasperPlCaps.woff2") format("woff2"), url("/public/styles/fonts/JasperPlCaps.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MotlowPl";
  src: url("/public/styles/fonts/MotlowPl.woff2") format("woff2"), url("/public/styles/fonts/MotlowPl.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: auto;
  width: 50%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  background: black;
}

header button {
  background: #baab8f;
}

header button:hover {
  background: #828282;
}

header button::after {
  content: 'WTF!!!!';
}

header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #baab8f;
  background: #959595;
}

body {
  background-color: black;
}
/*# sourceMappingURL=style.css.map */