<div class="background">
  <img src="/images/BG_lights.png" alt="image background" class="bg_lights">
  <div class="container contact">
    <a href="/" class="close">&#10005;</a>
    <div class="title text">
      <p class="title">napisz do jacka</p>
    </div>
    <form class="contact_form myriad">  
      <div class="text_inputs">
        <input type="text" class="imie myriad" placeholder="wpisz imię">
        <input type="email" class="email myriad" placeholder="wpisz adres e-mail">
        <textarea name="message" id="message" rows="5" class="text myriad" required="required" placeholder="treść wiadomości*"></textarea>
      </div>
      <div class="buttons flex">
        <a href="/" class="cancel text">cancel</a>
        <button class="btn myriad text">wyślij</button>
      </div>
    </form>
    <div class="disclaimer">
        <p class="disclaimer text myriad">Poprzez wysłanie zapytania wyraża Pan/Pani zgodę na przetwarzanie przez CEDC International Sp. z o.o. z siedzibą w Obornikach moich danych osobowych w zakresie wskazanym w formularzu kontaktowym w celu udzielenia odpowiedzi na przesłane zapytaniem. Przysługuje Pani/Panu prawo do wycofania zgody jednakże wycofanie zgody nie ma wpływu na zgodność z prawem przetwarzania, którego dokonano na jej podstawie przed wycofaniem. Szczegóły wycofania zgody oraz pełna treść klauzuli informacyjnej, zgodnie 
z Art. 13 RODO, znajdują się w Regulaminie *</p>
    </div>
    <div class="info">
      <p class="myriad goldenDark">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>