<div class="l-wrapper u-golden-bottom">
  <img src="/images/BG_lights_mob_s.png" alt="image background" class="l-f-bg_lights u-absolute">
  <div class="l-f-container">
    <a href="/" class="close">&#10005;</a>
    <div class="c-copy l-copy l-f-copy-container">
      <p class="c-copy-mamy l-copy-mamy -f-motlow">mamy</p>
      <p class="c-copy-wielkie l-copy-wielkie -f-motlow">wielkie plany!</p>
      <p class="c-copy-napelnijmy l-copy-napelnijmy -f-franklin-demi ">napełnijmy nimi</p>
      <p class="c-copy-butelke l-copy-butelke -f-motlow">butelkę</p>
      <p class="c-copy-jacka l-copy-jacka -f-motlow">jack'a.</p>
    </div>
    <form class="c-f-form l-form -f-myriad-cond">  
      <div class="text_inputs">
        <label class="u-text-transform-none l-form-label__masz c-form-label__masz -f-myriad-light" for="statement">masz <span>280</span> znaków</label>
        <textarea class="c-form-input l-form-input -f-myriad-cond u-uppercase" name="statement" id="statement" rows="4"  required="required" placeholder="Napisz co zawsze chciałeś zrobić&#10; i dlaczego właśnie to, i wygraj kasę&#10; na realizację swojego wielkiego planu!"></textarea>
        <input type="text" class="imie myriad" placeholder="wpisz imię">
        <input type="email" class="email myriad" placeholder="wpisz adres e-mail">
      </div>
      <div class="buttons flex">
        <a href="/" class="cancel text">cancel</a>
        <button class="cta myriad">wyślij i wygraj jacka</button>
      </div>
      <div class="checkboxes myriadPro goldenDark">
        <label class="group">Oświadczam, że zapoznałem/am<br> się i akceptuję <a href="/regulations" class="goldenDark">Regulamin loterii.</a>*
          <input type="checkbox" id="">
          <span class="checkmark"></span>
        </label>
        <label class="group">Oświadczam, że zapoznałem/am<br> się i akceptuję <a href="/privacy" class="goldenDark">Politykę prywatności.</a>*
          <input type="checkbox" id="">
          <span class="checkmark"></span>
        </label>
        <img class="bottle" src="/images/bottle_form_exp.png" alt="jack daniels bottle">
      </div>
      
    </form>
    
    <div class="info">
      <p class="myriad goldenDark">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>