<div class="background">
  <img src="/images/BG_lights.png" alt="image background" class="bg_lights">
  <div class="container form_exp">
    <div class="copy text">
      <div class="today">
        <p class="dzis motlow">dziś</p>
        <p class="zdarza_sie fgDemi">zdarza się</p>
        <p class="tylko_raz jasper">tylko raz</p>
      </div>
    </div>
    <form class="statement_input_exp myriad">  
      <label for="statement" class="napisz text">napisz co zawsze chciałeś zrobić,<br> ale... no właśnie! nie czekaj!</label>
      <label for="statement" class="masz myriadPro golden">masz 280 znaków</label>
      <textarea name="statement" id="statement" rows="4" class="text myriad" required="required"></textarea>
      <label for="statement" class="placeholder text"><span class="orangePale">napisz tutaj</span> i wygraj realizację <br> marzenia od jacka lub inne nagrody!</label>
      <input type="text" class="imie myriad" placeholder="wpisz imię">
      <input type="email" class="email myriad" placeholder="wpisz adres e-mail">
      <button class="cta myriad">wyślij i wygraj jacka</button>
    </form>
    <div class="info">
      <p class="myriad golden">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>