<div class="background">
  <img src="/images/BG_lights.png" alt="image background" class="bg_lights">
  <div class="container form_exp">
    <a href="/" class="close">&#10005;</a>
    <div class="copy text">
      <div class="today">
        <p class="dzis motlow">dziś</p>
        <p class="zdarza_sie fgDemi">zdarza się</p>
        <p class="tylko_raz jasper">tylko raz</p>
      </div>
    </div>
    <form class="statement_input_exp myriad">  
      <div class="text_inputs">
        <label for="statement" class="napisz text">napisz co zawsze chciałeś zrobić,<br> ale... no właśnie! nie czekaj!</label>
        <label for="statement" class="masz myriadPro goldenDark">masz 280 znaków</label>
        <textarea name="statement" id="statement" rows="4" class="text myriad" required="required"></textarea>
        <label for="statement" class="placeholder text"><span class="orangePale">napisz tutaj</span> i wygraj realizację <br> marzenia od jacka lub inne nagrody!</label>
        <input type="text" class="imie myriad" placeholder="wpisz imię">
        <input type="email" class="email myriad" placeholder="wpisz adres e-mail">
      </div>
      <div class="buttons flex">
        <a href="/" class="cancel text">cancel</a>
        <button class="cta myriad">wyślij i wygraj jacka</button>
      </div>
      <div class="checkboxes myriadPro goldenDark">
        <label class="group">Oświadczam, że zapoznałem/am<br> się i akceptuję <a href="/regulations" class="goldenDark">Regulamin loterii.</a>*
          <input type="checkbox" id="">
          <span class="checkmark"></span>
        </label>
        <label class="group">Oświadczam, że zapoznałem/am<br> się i akceptuję <a href="/privacy" class="goldenDark">Politykę prywatności.</a>*
          <input type="checkbox" id="">
          <span class="checkmark"></span>
        </label>
        <img class="bottle" src="/images/bottle_form_exp.png" alt="jack daniels bottle">
      </div>
      
    </form>
    
    <div class="info">
      <p class="myriad goldenDark">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>