<div class="background">
  <img src="/images/BG_lights.png" alt="image background" class="bg_lights">
  <div class="container form_exp">
    <div class="copy text">
      <p class="dzis motlow">dziś</p>
      <p class="zdarza_sie fgDemi">zdarza się</p>
      <p class="tylko_raz jasper">tylko raz</p>
    </div>
    <form class="main_input myriad">  
      <label for="statement" class="napisz text">napisz co zawsze chciałeś zrobić,<br> ale... no właśnie! nie czekaj!</label>
      <textarea name="statement" id="statement" rows="2" class="text" required="required"></textarea>
      <label for="statement" class="placeholder text"><span class="orangePale">napisz tutaj</span> i wygraj realizację marzenia od jacka lub inne nagrody!</label>
      <button class="cta myriad">wyślij i wygraj jacka</button>
    </form>
    <div class="info">
      <p class="myriad golden">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>