<div class="background">
  <img src="/images/BG_lights.png" alt="image background" class="bg_lights">
  <div class="container hero">
    <img src="/images/bottle_w_shadow.png" alt="Jack Daniels bottle" class="bottle_w_shadow">
    <img src="/images/live_icon.png" alt="live" class="live">
    <div class="desk_flex">
      <div class="copy">
        <div class="today text">
          <p class="dzis motlow">dziś</p>
          <p class="zdarza_sie fgDemi">zdarza się</p>
          <p class="tylko_raz jasper">tylko raz</p>
        </div>
        <div class="makeItCount text">
          <img class="small_logo" src="/images/navLogo.png" alt="Jack Daniel's logo" class="navLogo">
          <p class="make_it jasper">make it</p>
          <p class="count jasper">count</p>
        </div>
      </div>
      <div class="statement_input_container">
        <form class="statement_input myriad">
          <label for="statement" class="napisz text">napisz co zawsze chciałeś zrobić,<br> ale... no właśnie! nie czekaj!</label>
          <textarea name="statement" id="statement" rows="2" class="text myriad" required="required"></textarea>
          <label for="statement" class="placeholder text"><span class="orangePale">napisz tutaj</span> i wygraj realizację <br> marzenia od jacka lub inne nagrody!</label>
          <button class="cta myriad">wyślij i wygraj jacka</button>
        </form>
      </div>
    </div>
    <div class="info">
      <p class="myriad golden">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>
