<div class="background">
  <div class="container hero">
    <img src="/images/botle_shadow.png" alt="Jack Daniels bottle" class="bottle">
    <img src="/images/live_icon.png" alt="live" class="live">
    <div class="copy">
      <div class="today text">
        <p class="dzis motlow">dziś</p>
        <p class="zdarza_sie fgDemi">zdarza się</p>
        <p class="tylko_raz jasper">tylko raz</p>
      </div>
      <div class="makeItCount text">
        <img class="small_logo" src="/images/navLogo.png" alt="Jack Daniel's logo" class="navLogo">
        <p class="make_it jasper">make it</p>
        <p class="count jasper">count</p>
      </div>
    </div>
    <div class="main_input">
      <p class="napisz">napisz co zawsze chciałeś zrobić,<br> ale... no właśnie! nie czekaj!</p>
      <div class="outline">
        <p class="text placeholder"><span class="orangePale">napisz tutaj</span> i wygraj realizację marzenia od jacka lub inne nagrody!</p>
      </div>
      <button class="orange">wyślij i wygraj jacka</button>
    </div>
    <div class="info golden">
      <p class="myriadProBoldCond">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
  
  <button type="button" class="collapsible active" data-text="strona główna">mniej</button>

  <div class="privacy content collapsed">
  </div>
  <button type="button" class="collapsible golden" data-text="polityka prywatności i cookies">polityka prywatności i cookies</button>

  <div class="regulations content collapsed">
  </div>
  <button type="button" class="collapsible golden" data-text="regulamin akcji">regulamin akcji</button>

  <div class="faq content collapsed">
    <p class="text title">faq</p>
    <div class="input_outline">
      <p class="text placeholder">czy udział w konkursie jest płatny?</p>
    </div>
    <div class="input_outline">
      <p class="text placeholder">czy mona wybrać sobie nagrodę?</p>
    </div>
    <div class="input_outline">
      <p class="text placeholder">czemu moderator nie zatwierdził mojego wyznania?</p>
    </div>
    <div class="input_outline">
      <p class="text placeholder">jak długo potrwa akcja?</p>
    </div>
    <div class="input_outline">
      <p class="text placeholder">jak szybko dostanę nagrodę?</p>
    </div>
    <img class="logo_bottom" src="/images/navLogo_big.png" alt="Jack Daniel's logo">
  </div>
  <button type="button" class="collapsible golden" data-text="faq">faq</button>

  <div class="contact content collapsed">
    <p class="text title">kontakt</p>
    <div class="input_outline">
      <p class="text placeholder">imię i nazwisko*</p>
    </div>
    <div class="input_outline">
      <p class="text placeholder">adres e-mail*</p>
    </div>
    <div class="input_outline multiline">
      <p class="text placeholder">treść wiadomości*</p>
    </div>
    <p class="info myriad">Poprzez wysłanie zapytania wyraża Pan/Pani zgodę na przetwarzanie przez CEDC International Sp. z o.o. 
  z siedzibą w Obornikach moich danych osobowych 
  w zakresie wskazanym w formularzu kontaktowym 
  w celu udzielenia odpowiedzi na przesłane zapytaniem. Przysługuje Pani/Panu prawo do wycofania zgody jednakże wycofanie zgody nie ma wpływu na zgodność 
  z prawem przetwarzania, którego dokonano na jej podstawie przed wycofaniem. Szczegóły wycofania zgody oraz pełna treść klauzuli informacyjnej, zgodnie z Art. 13 RODO, znajdują się w Regulaminie *</p>
  <img class="logo_bottom" src="/images/navLogo_big.png" alt="Jack Daniel's logo">
  </div>
  <button type="button" class="collapsible golden" data-text="kontakt">kontakt</button>

  <div class="about content collapsed">
    <p class="text title">od jack'a</p>
    <p class="text myriad about">Filozofia kamoanii-lorem ipsum and our partners, store and/or access information on a device, such as cookies and process personal data, such as unique identifiers 
      and standard information sent by a device for personalised ads and content, ad and content measurement, and audience insights, as well as to develop and improve products.</p>
    <img class="logo_bottom" src="/images/navLogo_big.png" alt="Jack Daniel's logo">
  </div>
  <button type="button" class="collapsible golden" data-text="o kampanii">o kampanii</button>
</div>