
<div class="container">
  <div class="hero content expanded">
    <img src="/images/home_background.png" alt="Jack Daniel's bottle" class="bottle">
    <img src="/images/live.png" alt="live" class="live">
    <div class="main text">
      <p class="dzis motlow">dziś</p>
      <p class="zdarza_sie fgDemi">zdarza się</p>
      <p class="tylko_raz jasper">tylko raz</p>
    </div>
    <div class="slogan text">
      <img class="small_logo" src="/images/navLogo.png" alt="Jack Daniel's logo" class="navLogo">
      <p class="make_it jasper">make it</p>
      <p class="count jasper">count</p>
    </div>
    <div class="scroll">
      <div class="odkryj golden">odkryj historie odwagi</div>
      <div class="outer">
        <div class="inner"></div>
      </div>
    </div>
    <div class="main_input golden">
      <div class="outline">
        <input class="napisz" type="text" placeholder="napisz, na co ostatnio odważyłeś się po raz...">
      </div>
    </div>
    <div class="info golden">
      <p class="myriadProBoldCond">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
    <img class="logo" src="/images/navLogo_big.png" alt="Jack Daniel's logo" class="navLogo_big">
  </div>
  <button type="button" class="collapsible active" data-text="strona główna">mniej</button>

  <div class="privacy content collapsed">
  </div>
  <button type="button" class="collapsible golden" data-text="polityka prywatności i cookies">polityka prywatności i cookies</button>

  <div class="regulations content collapsed">
  </div>
  <button type="button" class="collapsible golden" data-text="regulamin akcji">regulamin akcji</button>

  <div class="faq content collapsed">
  </div>
  <button type="button" class="collapsible golden" data-text="faq">faq</button>

  <div class="contact content collapsed">
    <p class="text title">kontakt</p>
    <div class="input_outline">
      <p class="text placeholder">imię i nazwisko*</p>
    </div>
    <div class="input_outline">
      <p class="text placeholder">adres e-mail*</p>
    </div>
    <div class="input_outline multiline">
      <p class="text placeholder">treść wiadomości*</p>
    </div>
    <p class="info myriad">Poprzez wysłanie zapytania wyraża Pan/Pani zgodę na przetwarzanie przez CEDC International Sp. z o.o. 
z siedzibą w Obornikach moich danych osobowych 
w zakresie wskazanym w formularzu kontaktowym 
w celu udzielenia odpowiedzi na przesłane zapytaniem. Przysługuje Pani/Panu prawo do wycofania zgody jednakże wycofanie zgody nie ma wpływu na zgodność 
z prawem przetwarzania, którego dokonano na jej podstawie przed wycofaniem. Szczegóły wycofania zgody oraz pełna treść klauzuli informacyjnej, zgodnie z Art. 13 RODO, znajdują się w Regulaminie *</p>
<img class="logo_bottom" src="/images/navLogo_big.png" alt="Jack Daniel's logo">
  </div>
  <button type="button" class="collapsible golden" data-text="kontakt">kontakt</button>

  <div class="about content collapsed">
  </div>
  <button type="button" class="collapsible golden" data-text="o kampanii">o kampanii</button>
</div>

