
<div class="container">
  <div class="hero">
    <img src="/images/home_background.png" alt="Jack Daniel's bottle" class="bottle">
    <img src="/images/live.png" alt="live" class="live">
    <div class="main text">
      <p class="dzis motlow">dziś</p>
      <p class="zdarza_sie fgDemi">zdarza się</p>
      <p class="tylko_raz jasper">tylko raz</p>
    </div>
    <div class="slogan text">
      <img class="small_logo" src="/images/navLogo.png" alt="Jack Daniel's logo" class="navLogo">
      <p class="make_it jasper">make it</p>
      <p class="count jasper">count</p>
    </div>
    <div class="info golden">
      <p class="myriadProBoldCond">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
    <img class="logo" src="/images/navLogo_big.png" alt="Jack Daniel's logo" class="navLogo_big">
  </div>
</div>

