<div class="l-wrapper u-golden-bottom">
  <img src="/images/BG_lights_home.png" alt="image background" class="l-h-bg_lights u-absolute">
  <div class="l-h-container u-uppercase">
    <img src="/images/bottle_w_shadow.png" alt="Jack Daniels bottle" class="l-h-bottle_w_shadow u-absolute">
    <img src="/images/live_icon.png" alt="live icon" class="l-h-live_icon u-absolute">
    <div class="o-flex@dsk">
      <div class="c-h-slogan l-h-slogan">
        <div class="c-h-slogan__today l-h-slogan__today text">
          <p class="c-h-slogan__dzis l-h-slogan__dzis -f-motlow">dziś</p>
          <p class="c-h-slogan__zdarza l-h-slogan__zdarza -f-franklin-demi">zdarza się</p>
          <p class="c-h-slogan__tylko l-h-slogan__tylko -f-jasper-caps">tylko raz</p>
        </div>
        <div class="c-h-slogan__m_i_c l-h-slogan__m_i_c u-align__center">
          <img class="c-h-slogan__logo l-h-slogan__logo u-absolute" src="/images/navLogo.png" alt="Jack Daniel's logo" class="navLogo">
          <p class="c-h-slogan__make l-h-slogan__make -f-jasper-caps">make it</p>
          <p class="c-h-slogan__count l-h-slogan__count -f-jasper-caps">count</p>
        </div>
      </div>
      <div class="l-h-desk_container">
        <div class="c-h-copy l-h-copy ">
          <p class="c-h-copy__mamy l-h-copy__mamy -f-motlow">mamy</p>
          <p class="c-h-copy__wielkie l-h-copy__wielkie -f-motlow">wielkie plany!</p>
          <p class="c-h-copy__napelnijmy l-h-copy__napelnijmy -f-franklin-demi">napełnijmy nimi</p>
          <p class="c-h-copy__butelke l-h-copy__butelke -f-motlow">butelkę</p>
          <p class="c-h-copy__jacka l-h-copy__jacka -f-motlow">jack'a.</p>
        </div>
        <div class="l-h-form">
          <form class="c-h-form -f-myriad-cond">
            <label class="u-text-transform-none l-h-form__label c-h-form__label -f-myriad-light" for="statement">masz <span>280</span> znaków</label>
            <textarea class="c-h-form__input l-h-form__input -f-myriad-cond u-uppercase" name="statement" id="statement" rows="4"  required="required" placeholder="Napisz co zawsze chciałeś zrobić&#10; i dlaczego właśnie to, i wygraj kasę&#10; na realizację swojego wielkiego planu!"></textarea>
            <button class="c-h-form__btn l-h-form__btn -f-myriad-cond u-uppercase">wyślij i wygraj jacka</button>
          </form>
        </div>
      </div>
    </div>
    <div class="c-h-akcja l-h-akcja">
      <p class="-f-myriad-cond -c-golden">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>
