<div class="background">
  <img src="/images/BG_lights.png" alt="image background" class="bg_lights">
  <div class="container prizes">
    <a href="/" class="close">&#10005;</a>
    <div class="title text">
      <p class="title">nagrody</p>
    </div>
    <div class="prizes_list text">
      <div class="prize 7000">
        <p class="times jasper">7 x</p>
        <p class="value">7000</p>
        <p class="zl">zł</p>
        <p class="for">na realizację marzenia</p>
        <img src="/images/voucher_7000.png" alt="voucher na 7000 zł" class="visualisation">
      </div>
      <div class="prize 3000">
        <p class="times jasper">7 x</p>
        <p class="value motlow">7000</p>
        <p class="zl motlow">zł</p>
        <p class="for">na realizację marzenia</p>
        <img src="/images/voucher_7000.png" alt="voucher na 7000 zł" class="visualisation">
      </div>
      <div class="prize instax">
        <p class="times jasper">140 x</p>
        <p class="jack motlow">jack</p>
        <p class="plus motlow">+</p>
        <p class="instax motlow">instax</p>
        <img src="/images/instax.png" alt="zdjęcie nagrody" class="visualisation">
      </div>
      <div class="prize bluzy">
        <p class="times jasper">140 x</p>
        <p class="bluzy motlow">bluzy</p>
        <p class="jack motlow">jack</p>
        <img src="/images/bluza.png" alt="zdjęcie nagrody" class="visualisation">
      </div>
    </div>
    <button class="btn myriad text">zamknij</button>
    <div class="info">
      <p class="myriad goldenDark">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>