.c-h-form__input {
  padding: 1rem 1rem 2.5rem 1rem;
  width: 100%;
  background: black;
  border-radius: 0.5rem;
  border: 2px solid $grey-82;
  font-size: rem(37);
  color: $white;
}

.c-h-form__input:focus {
  outline: none;
  border: 2px solid $orange-1c;
}

.c-h-form__input::placeholder {
  color: $white;
  caret-color: $grey-82;
}

.c-h-form__label {
  font-size: rem(21);
  color: $gold-92;
}

.c-h-form__btn {
  border: none;
  background-color: #ee731d;
  color: black;
  padding: 0.5rem;
  width: 28.56rem;
  font-size: rem(37);
}

.c-h-akcja {
  color: $gold-92;
  text-align: center;
  font-size: rem(29);
}

.c-nav {
  position: relative;
  color: white;
  .c-nav__arrow {
    display: inline-block;
    color: white;
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
  }
  .c-nav__btn {
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.2rem;
    padding: 2.2rem 0 2.2rem 0;
    border-bottom: 3px solid $gold-92;
  }
}

.c-footer {
  color: $grey-95;
  font-size: rem(29);
  letter-spacing: rem(0.21);
}
