.l-h-container {
  width: rem(620);
  height: rem(2200);
  margin-right: auto;
  margin-left: auto;
  top: rem(70);
  position: relative;
  color: $white;
}

.l-h-bottle_w_shadow {
  top: rem(-5);
  right: rem(26);
}

.l-h-live_icon {
  right: 0;
  width: auto;
  max-width: rem(72);
}

.l-h-slogan {
  width: rem(146);
  height: rem(171);
  top: rem(10);
  left: rem(3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .l-h-slogan__today {
    .l-h-slogan__dzis {
      position: relative;
      left: rem(7);
      font-size: rem(44);
      margin: 0;
    }
    .l-h-slogan__zdarza {
      position: relative;
      top: rem(-12);
      font-size: rem(10);
      font-size: rem(16);
      margin: 0;
    }
    .l-h-slogan__tylko {
      position: relative;
      top: rem(-9);
      left: rem(13);
      font-size: rem(35);
      margin: 0;
    }
  }
  .l-h-slogan__m_i_c {
    .l-h-slogan__logo {
      display: block;
      position: relative;
      left: 50%;
      bottom: rem(5);
      margin-left: rem(-18.5);
      width: rem(37);
    }
    .l-h-slogan__make {
      font-size: rem(22);
    }
    .l-h-slogan__count {
      font-size: rem(29);
    }
  }
}

.l-h-copy {
  position: relative;
  width: 100%;
  margin-top: rem(921);
  .l-h-copy__mamy {
    position: relative;
    left: rem(58);
    font-size: rem(42);
  }
  .l-h-copy__wielkie {
    position: relative;
    bottom: rem(5);
    font-size: rem(56);
  }
  .l-h-copy__napelnijmy {
    position: relative;
    left: rem(42);
    bottom: rem(13);
    font-size: rem(32);
  }
  .l-h-copy__butelke {
    position: relative;
    bottom: rem(9);
    left: rem(-3);
    font-size: rem(56);
  }
  .l-h-copy__jacka {
    position: relative;
    bottom: rem(86);
    left: rem(275);
    font-size: rem(84);
  }
}

.l-h-form {
  position: relative;
  bottom: rem(95);
  width: 100%;
  .l-h-form__input {
    margin-top: 0.5rem;
  }
  .l-h-form__label {
    position: relative;
    left: rem(468);
    top: rem(4);
  }
  .l-h-form__btn {
    position: relative;
    top: rem(57);
    left: 50%;
    transform: translateX(-50%);
  }
}

.l-h-akcja {
  position: relative;
  margin-top: rem(150);
  margin-bottom: 50px;
  width: 100%;
}
