.l-wrapper {
  background: $black-00;
  width: rem(720);
  margin: 0 auto 0 auto;
  img {
    position: absolute;
  }
}

//   .statement_input {
//     position: relative;
//     top: 29.5rem;
//     width: 100%;
//     textarea {
//       margin-top: 0.5rem;
//       padding: 1rem 1rem 2.5rem 1rem;
//       width: 100%;
//       background: black;
//       border-radius: 0.5rem;
//       border: 3px solid $darkGrey;
//     }
//     textarea[required]:invalid + .placeholder {
//       display: inline-block;
//     }
//     textarea[required]:valid + .placeholder {
//       display: none;
//     }
//     label {
//       position: relative;
//       left: 1.2rem;
//     }
//     .placeholder {
//       position: absolute;
//       bottom: 7.4rem;
//     }
//     button {
//       position: relative;
//       top: 2rem;
//       left: 50%;
//       transform: translateX(-50%);
//     }
//   }
//   .info {
//     position: relative;
//     top: 44rem;
//   }
// }

// .logo_bottom {
//   display: block;
//   margin-right: auto;
//   margin-left: auto;
//   padding-top: 5rem;
//   padding-bottom: 3rem;
// }

// .socials {
//   display: block;
//   position: relative;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 4.7rem 0 4.7rem 0;
// }

// .content {
//   border-bottom: 3px solid $golden;
// }
