.l-wrapper {
  background: $black-00;
  width: rem(720);
  margin: 0 auto 0 auto;
}

.l-footer {
  width: rem(634);
  height: rem(1045);
  margin-right: auto;
  margin-left: auto;
  padding-top: rem(240);
}

.l-footer__socials {
  position: relative;
  bottom: rem(46);
}

//   .info {
//     position: relative;
//     top: 44rem;
//   }
// }

// .logo_bottom {
//   display: block;
//   margin-right: auto;
//   margin-left: auto;
//   padding-top: 5rem;
//   padding-bottom: 3rem;
// }

// .socials {
//   display: block;
//   position: relative;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 4.7rem 0 4.7rem 0;
// }

// .content {
//   border-bottom: 3px solid $golden;
// }
