.l-f-container {
  width: rem(620);
  height: rem(1914);
  margin-right: auto;
  margin-left: auto;
  top: rem(70);
  position: relative;
  color: $white;
}

.l-f-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-f-form-checkbox-container {
  .l-f-form-group {
    display: block;
    position: relative;
    width: 28rem;
    height: 6.375rem;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: rem(29);
    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    /* Create a custom checkbox */
    .c-checkmark {
      position: absolute;
      top: 0.6rem;
      left: 0;
      height: 1.25rem;
      width: 1.25rem;
      border: 2px solid $gold-8f;
    }
    /* When the checkbox is checked, add an orange background */
    input:checked ~ .c-checkmark {
      background-color: $orange-1c;
    }
  }
  .l-f-bottle {
    position: absolute;
    right: 0;
    bottom: -4rem;
  }
}

.l-f-akcja {
  position: relative;
  margin-top: rem(150);
  margin-bottom: 50px;
  width: 100%;
}
