.u-uppercase {
  text-transform: uppercase !important;
}

.u-no-text-transform {
  text-transform: none !important;
}

.u-no-text-decoration {
  text-decoration: none !important;
}

.u-text-center {
  text-align: center !important;
}

.u-align__center {
  text-align: center !important;
}

.u-golden-bottom {
  border-bottom: 3px solid $gold-8f !important;
}

.u-golden {
  color: $gold-8f !important;
}

.u-golden-92 {
  color: $gold-92 !important;
}

.u-white {
  color: $white !important;
}

.u-absolute {
  position: absolute !important;
}
