.u-uppercase {
  text-transform: uppercase;
}

.u-text-transform-none {
  text-transform: none;
}

.u-align__center {
  text-align: center;
}

.u-golden-bottom {
  border-bottom: 3px solid $gold-8f;
}

.u-golden {
  color: $gold-8f;
}

.u-white {
  color: $white;
}
