<footer>
  <div class="container"><img class="socials" src="/images/social_logos.png">
  <p class="info">JACK DANIEL DISTILLERY LYNCHBURG, TENNESSEE
  JACK DANIEL’S, OLD NO. 7, TENNESSEE FIRE,  TENNESSEE HONEY, GENTLEMAN JACK, AND NO. 27 GOLD
  ARE REGISTERED TRADEMARKS OF JACK DANIEL'S PROPERTIES, INC. © 2020.
  ALL RIGHTS RESERVED. ALL OTHER TRADEMARKS AND TRADE NAMES ARE PROPERTIES OF THEIR RESPECTIVE OWNERS.
  TO FIND OUT MORE ABOUT RESPONSIBLE CONSUMPTION, VISIT RESPONSIBILITY.ORG AND OURTHINKINGABOUTDRINKING.COM
  PLEASE DO NOT SHARE OR FORWARD WITH ANYONE UNDER THE LEGAL DRINKING AGE.</p>
  </div>
</footer>