<div class="background nav">
  <nav>
    <span class="arrow down" id="arrow">&#8735;</span>
    <button type="button" class="navBtn toggle text myriad" data-text="mniej" id="toggle">menu</button>
    <div id="navi" class="navi closed">
     <a href="/privacy" class="navBtn myriad golden navPrivacy" id="hide">polityka prywatności i cookies</a>
     <a href="/regulations" class="navBtn myriad golden navRegulations">regulamin akcji</a>
     <a href="/prizes" class="navBtn myriad golden navPrizes">nagrody</a>
     <a href="/faq" class="navBtn myriad golden faq">faq</a>
     <a href="/about" class="navBtn myriad golden navAbout">od jacka</a>
     <a href="/contact" class="navBtn myriad golden navContact">kontakt</a>
    </div>
  </nav>
</div>