<div class="background nav">
  <nav>
    <span class="arrow down" id="arrow">&#8735;</span>
    <button type="button" class="btn toggle text myriad" data-text="mniej" id="toggle">menu</button>
    <div id="navi" class="navi closed">
     <a href="/privacy" class="btn myriad golden" id="hide">polityka prywatności i cookies</a>
     <a href="/regulations" class="btn myriad golden">regulamin akcji</a>
     <a href="/prizes" class="btn myriad golden">nagrody</a>
     <a href="/faq" class="btn myriad golden">faq</a>
     <a href="/about" class="btn myriad golden">od jacka</a>
     <a href="/contact" class="btn myriad golden">kontakt</a>
    </div>
  </nav>
</div>