<div class="background nav">
  <nav>
    <button type="button" class="btn collapsible active" data-text="menu">mniej   <span class="arrow">&#8735;</span></button>
    <a href="/privacy" class="btn myriad golden">polityka prywatności i cookies</a>
    <a href="/regulations" class="btn myriad golden">regulamin akcji</a>
    <a href="/prizes" class="btn myriad golden">nagrody</a>
    <a href="/faq" class="btn myriad golden">faq</a>
    <a href="/about" class="btn myriad golden">od jacka</a>
    <a href="/contact" class="btn myriad golden">kontakt</a>
  </nav>
</div>