<div class="l-copyform-container">
  <form class="js-testimony">
    <div class="c-copy l-copy">
      <p class="c-copy-mamy l-copy-mamy -f-motlow">mamy</p>
      <p class="c-copy-wielkie l-copy-wielkie -f-motlow">wielkie plany!</p>
      <p class="c-copy-napelnijmy l-copy-napelnijmy -f-franklin-demi">
        napełnijmy nimi
      </p>
      <p class="c-copy-butelke l-copy-butelke -f-motlow">butelkę</p>
      <p class="c-copy-jacka l-copy-jacka -f-motlow">jack'a.</p>
    </div>
      <div class="l-form c-h-form l-h-form__dsk -f-myriad-cond">
        <label
          class="u-text-transform-none l-form-label__masz c-form-label__masz -f-myriad-light"
          for="statement"
          >masz <span>280</span> znaków</label
        >
        <textarea
          class="c-form-textarea c-form-input__dsk l-form-textarea -f-myriad-cond u-uppercase js-h-textarea"
          name="statement"
          id="statement"
          rows="4"
          required="required"
          placeholder="Napisz co zawsze chciałeś zrobić&#10;i dlaczego właśnie to, i wygraj kasę&#10;na realizację swojego wielkiego planu!"
        ></textarea>
        <button
          class="c-h-form-btn l-h-form-btn l-h-form-btn__dsk -f-myriad-cond js-h-btn"
        >
          wyślij i wygraj jacka
        </button>
      </div>
    </div>
  </form>
  
  <form class="js-personal l-f__personal__dsk h-is__hidden">
    <div class="l-f-form-textinputs__dsk">
      <input
        type="text"
        class="c-form-input l-form-input__1 c-form-input__dsk -f-myriad-cond u-uppercase"
        name="name"
        placeholder="wpisz imię"
      />
      <input
        type="text"
        class="c-form-input l-form-input c-form-input__dsk -f-myriad-cond u-uppercase"
        name="surname"
        placeholder="wpisz nazwisko"
      />
      <input
        type="email"
        class="c-form-input l-form-input c-form-input__dsk -f-myriad-cond u-uppercase"
        name="email"
        placeholder="wpisz adres e-mail"
      />
    </div>
    <div class="l-f-form-checkbox-container -f-myriad-light u-golden-92">
      <label class="l-f-form-group c-f-form-group"
        >Oświadczam, że zapoznałem/am<br />
        się i akceptuję
        <a href="/regulations" class="c-f-form-link u-golden-92"
          >Regulamin loterii.</a
        >*
        <input type="checkbox" id="" name="rules" />
        <span class="c-checkmark"></span>
      </label>
      <label class="l-f-form-group c-f-form-group"
        >Oświadczam, że zapoznałem/am<br />
        się i akceptuję
        <a href="/privacy" class="c-f-form-link u-golden-92"
          >Politykę prywatności.</a
        >*
        <input type="checkbox" id="" name="privacy" />
        <span class="c-checkmark"></span>
      </label>
    </div>
    <div class="l-f-form-buttons-container u-uppercase">
      <a href="/" class="c-f-form-zamknij l-f-form-zamknij -f-myriad-cond"
        >zamknij</a
      >
      <button class="c-f-form-btn l-f-form-btn -f-myriad-cond">
        wyślij i wygraj jacka
      </button>
    </div>
  </form>
  
  <div class="js-sent h-is__hidden">
    <div class="c-fs-zgloszenie-container l-fs-zgloszenie-container -f-finlandia">
      <p>
        zgłoszenie zostało wysłane.<br />
        dziękujemy!
      </p>
    </div>
    <div
      class="c-fs-doodwaznych-container l-fs-doodwaznych-container -f-jasper-caps"
    >
      <p>do odważnych jack należy!</p>
    </div>
    <div
      class="c-fs-twoje-container l-fs-twoje-container -f-myriad-cond u-golden-92"
    >
      <p>
        Twoje wyznanie po zatwierdzeniu przez moderatora pojawi się na butelce.<br />Poinformujemy
        Cię!<br />Dodatkowo dowiesz się co wygrałeś.
      </p>
    </div>
    <a href="/" class="c-btn__zamknij l-fs-btn__zamknij -f-myriad-cond"
      >zamknij</a
    >
  </div>
</div>