<div class="l-wrapper l-a-wrapper js-wrapper u-golden-bottom" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-a-container u-uppercase">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="l-title c-title -f-jasper-caps">
      <p>O Jack’u Danielu<br> i Jack’u Daniel’sie</p>
    </div>
    <div class="l-a-flex">
      <div class="l-a-flex-item l-a-flex-container">
        <img src="/images/zaslepka.png" alt="film" class="l-a-zaslepka">
      </div>
      <div class="l-a-flex-item l-a-flex-container -f-myriad-cond u-golden u-no-text-transform">
        <p class="l-a-p-jak c-a-p-jak">Jak się bardzo chce, to się musi udać! Jack Daniel chciał wyprodukować najlepszą whiskey na świecie. I udało się! Jak?</p>
        <p class="l-a-p-moze c-a-p-moze">Może to woda, której źródło bije w jaskini, może to dębowe beczki używane tylko raz, może to szczęśliwa liczba „7”, która zdobi etykietę od 150 lat tak samo kwadratowej butelki. To na pewno odwaga Jack’a Deniela.  Odwaga do sięgania po nowe i do sięgania po więcej. Dlatego to do odważnych Jack należy.  Oni wiedzą to co wiedział Jack Daniel:</p>
      </div>
      <div class="c-a-slogan__today l-a-slogan__today">
        <p class="c-a-slogan__dzis l-a-slogan__dzis -f-motlow">dziś</p>
        <p class="c-a-slogan__zdarza l-a-slogan__zdarza -f-franklin-demi">zdarza się</p>
        <p class="c-a-slogan__tylko l-a-slogan__tylko -f-jasper-caps">tylko raz</p>
      </div>
    </div>
    <div class="c-akcja l-a-akcja">
      <p class="-f-myriad-cond u-golden-92">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
    
  </div>
</div>