<div class="l-wrapper l-faq-wrapper js-wrapper u-golden-bottom" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-faq-container u-uppercase">
    <div class="l-age-logo-container">
      <img src="/images/navLogo.png" alt="Jack Daniel's logo" class="l-p-age-logo">
      <img src="/images/kreski.png" class="l-p-age-kreski">
    </div>
    <form action="" class="l-age-form c-age-form">
      <input type="date" class="l-age-input c-age-input">
    </form>
    <a href="/" class="c-btn__zamknij l-p-btn__zamknij -f-myriad-cond">zamknij</a>
  </div>
</div>
