<div class="l-wrapper l-age-wrapper js-wrapper u-golden-bottom">
  <div class="l-container l-age-container u-uppercase">
    <div class="l-age-flex-container__logo">
      <img src="/images/navLogo.png" alt="Jack Daniel's logo" class="l-age-logo">
      <img src="/images/kreski.png" class="l-age-kreski">
    </div>
    <div class="l-age-flex-container">
      <div class="c-age-data-container l-age-data-container -f-myriad-cond">
        <p>data urodzin jack'a zawsze była tajemnicą.<br>mamy nadzieję, że twoja nie jest.</p>
      </div>
      <form method="post" autocomplete="off" class="l-age-form c-age-form">
        <input type="tel" id="day" name="day" aria-label="Birth Day" placeholder="DD" data-error="" maxlength="2" size="4" class="l-age-input c-age-input -f-myriad-cond js-age-input">
        <input type="tel" id="month" name="month" placeholder="MM" aria-label="Birth Month" data-error="" maxlength="2" size="4" class="l-age-input c-age-input -f-myriad-cond js-age-input">
        <input type="tel" id="year" name="year" maxlength="4" size="4" class="l-age-input c-age-input -f-myriad-cond js-age-input" placeholder="YYYY" aria-label="Birth Year" data-error="">
      </form>
      <div class="c-age-strona-container l-age-strona-container -f-jasper-caps u-grey-82
      u-no-text-transform">
        <p>Strona zawiera materiały przeznaczone<br>dla osób pełnoletnich. </p>
      </div>
       <a href="/" class="c-btn__wejdz l-age-btn__wejdz -f-myriad-cond">wejdź</a>
    </div>
   
  </div>
</div>
