<div class="l-wrapper l-c-wrapper js-wrapper u-golden-bottom" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-c-container">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="l-title c-title -f-jasper-caps">
      <p>napisz do jacka</p>
    </div>
    <form class="c-c-form l-form l-c-form__dsk -f-myriad-cond">
      <div class="l-c-form-textinputs__dsk">
        <input type="text" class="c-form-input l-form-input__1 c-form-input__dsk -f-myriad-cond  u-uppercase" placeholder="wpisz imię">
        <input type="email" class="c-form-input l-form-input c-form-input__dsk -f-myriad-cond  u-uppercase" placeholder="wpisz adres e-mail">
      </div>
      <div class="l-c-form-textarea__dsk">
        <textarea class="c-c-textarea l-c-textarea c-form-textarea__dsk js-textarea -f-myriad-cond u-uppercase" name="statement" id="statement" rows="5"  required="required" placeholder="treść wiadomości*"></textarea>
      </div>
      <div class="l-c-form-buttons-container u-uppercase">
        <a href="/" class="c-c-form-zamknij l-c-form-zamknij">zamknij</a>
        <button class="c-btn__zamknij l-c-form-btn -f-myriad-cond">wyślij</button>
      </div>
    </form>
    <div class="c-c-disclaimer l-c-disclaimer c-footer -f-myriad-cond u-text-center">
      <p>Poprzez wysłanie zapytania wyraża Pan/Pani zgodę na przetwarzanie przez CEDC International Sp. z o.o. z siedzibą w Obornikach moich danych osobowych w zakresie wskazanym w formularzu kontaktowym w celu udzielenia odpowiedzi na przesłane zapytaniem. Przysługuje Pani/Panu prawo do wycofania zgody jednakże wycofanie zgody nie ma wpływu na zgodność z prawem przetwarzania, którego dokonano na jej podstawie przed wycofaniem. Szczegóły wycofania zgody oraz pełna treść klauzuli informacyjnej, zgodnie z Art. 13 RODO, znajdują się w Regulaminie*</p>
    </div>
    <div class="c-akcja l-c-akcja .l-h-akcja__dsk">
      <p class="-f-myriad-cond u-golden-92">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
  
</div>