<div class="l-wrapper l-c-wrapper js-wrapper u-golden-bottom" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-c-container">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="title text">
      <p class="title">napisz do jacka</p>
    </div>
    <form class="c-c-form l-form l-c-form__dsk -c-myriad-cond">
      <div class="l-c-form-textinputs__dsk">
        <input type="text" class="c-form-input l-form-input__1 c-form-input__dsk -c-myriad-cond  u-uppercase" placeholder="wpisz imię">
        <input type="email" class="c-form-input l-form-input c-form-input__dsk -c-myriad-cond  u-uppercase" placeholder="wpisz adres e-mail">
      </div>
      <div class="l-c-form-textarea__dsk">
        <textarea class="c-form-textarea l-form-textarea c-form-textarea__dsk js-textarea -c-myriad-cond u-uppercase" name="statement" id="statement" rows="5"  required="required" placeholder="treść wiadomości*"></textarea>
      </div>
      <div class="l-c-form-buttons-container u-uppercase">
        <a href="/" class="c-c-form-zamknij l-c-form-zamknij">zamknij</a>
        <button class="c-c-form-btn l-c-form-btn -c-myriad-cond">wyślij</button>
      </div>
    </form>
  </div>
  <div class="c-akcja l-c-akcja .l-h-akcja__dsk">
      <p class="-f-myriad-cond u-golden-92">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
</div>