<div class="l-wrapper l-cs-wrapper js-wrapper" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-cs-container s-cs-container">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="l-cs-flex-container">
      <div class="l-title c-title -f-jasper-caps">
        <p>napisz do jack'a</p>
      </div>
      <div class="c-cs-wiadomosc-container l-cs-wiadomosc-container -f-finlandia">
        <p>wiadomość została wysłana.<br>dziękujemy!</p>
      </div>
      <a href="/" class="c-btn__zamknij l-cs-btn__zamknij -f-myriad-cond">zamknij</a>
      <img class="l-cs-bottle" src="/images/bottle__big.png" alt="jack daniels bottle">
    </div>
  </div>
</div>