<div class="l-wrapper l-faq-wrapper js-wrapper u-golden-bottom" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-faq-container u-uppercase">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="l-title c-title -f-jasper-caps">
      <p>najczęściej<br>zadawane pytania</p>
    </div>
    <div class="l-faq-flex">
      <div class="l-faq-flex-item l-faq-flex-seven-container -f-myriad-cond u-golden">
        <button class="l-faq-btn c-faq-btn js-faq-btn  -f-myriad-cond u-golden ">czy udział w konkursie jest płatny?<img src="/images/arrow_golden.png" alt="" class="c-faq-arrow"></button>
        <div class="l-faq-p-container h-nav h-is__closed">
          <p class="l-faq-p c-faq-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eligendi doloremque alias, tempora exercitationem eaque illum ipsa cum accusantium, aliquam temporibus modi iste fugit officiis sequi similique natus minima enim a sint porro? Ad beatae eos ipsam architecto vitae laudantium ut a ducimus cum itaque facilis, numquam fugit at corrupti.</p>
        </div>
      </div>
      <div class="l-faq-flex-item l-faq-flex-seven-container -f-myriad-cond u-golden">
        <button class="l-faq-btn c-faq-btn js-faq-btn  -f-myriad-cond u-golden">czy można wybrać sobie nagrodę?<img src="/images/arrow_golden.png" alt="" class="c-faq-arrow"></button>
        <div class="l-faq-p-container h-nav h-is__closed">
          <p class="l-faq-p c-faq-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eligendi doloremque alias, tempora exercitationem eaque illum ipsa cum accusantium, aliquam temporibus modi iste fugit officiis sequi similique natus minima enim a sint porro? Ad beatae eos ipsam architecto vitae laudantium ut a ducimus cum itaque facilis, numquam fugit at corrupti.</p>
        </div>
      </div>
      <div class="l-faq-flex-item l-faq-flex-seven-container -f-myriad-cond u-golden">
        <button class="l-faq-btn c-faq-btn js-faq-btn  -f-myriad-cond u-golden">czemu moderator nie zatwierdził mojego wyznania?<img src="/images/arrow_golden.png" alt="" class="c-faq-arrow"></button>
        <div class="l-faq-p-container h-nav h-is__closed">
          <p class="l-faq-p c-faq-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eligendi doloremque alias, tempora exercitationem eaque illum ipsa cum accusantium, aliquam temporibus modi iste fugit officiis sequi similique natus minima enim a sint porro? Ad beatae eos ipsam architecto vitae laudantium ut a ducimus cum itaque facilis, numquam fugit at corrupti.</p>
        </div>
      </div>
      <div class="l-faq-flex-item l-faq-flex-seven-container -f-myriad-cond u-golden">
        <button class="l-faq-btn c-faq-btn js-faq-btn  -f-myriad-cond u-golden">jak długo potrwa akcja?<img src="/images/arrow_golden.png" alt="" class="c-faq-arrow"></button>
        <div class="l-faq-p-container h-nav h-is__closed">
          <p class="l-faq-p c-faq-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eligendi doloremque alias, tempora exercitationem eaque illum ipsa cum accusantium, aliquam temporibus modi iste fugit officiis sequi similique natus minima enim a sint porro? Ad beatae eos ipsam architecto vitae laudantium ut a ducimus cum itaque facilis, numquam fugit at corrupti.</p>
        </div>
      </div>
      <div class="l-faq-flex-item l-faq-flex-seven-container -f-myriad-cond u-golden">
        <button class="l-faq-btn c-faq-btn js-faq-btn  -f-myriad-cond u-golden">jak szybko dostanę nagrodę?<img src="/images/arrow_golden.png" alt="" class="c-faq-arrow"></button>
        <div class="l-faq-p-container h-nav h-is__closed">
          <p class="l-faq-p c-faq-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit eligendi doloremque alias, tempora exercitationem eaque illum ipsa cum accusantium, aliquam temporibus modi iste fugit officiis sequi similique natus minima enim a sint porro? Ad beatae eos ipsam architecto vitae laudantium ut a ducimus cum itaque facilis, numquam fugit at corrupti.</p>
        </div>
      </div>
    </div>
    <a href="/" class="c-btn__zamknij l-p-btn__zamknij -f-myriad-cond">zamknij</a>
    <div class="c-akcja l-p-akcja">
      <p class="-f-myriad-cond u-golden-92">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>
