<div class="l-wrapper u-golden-bottom">
  <img src="/images/BG_lights_mob_s.png" alt="image background" class="l-fs-bg_lights u-absolute">
  <div class="l-container l-fs-container s-fs-container">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="c-fs-slogan-container l-fs-slogan-container u-uppercase">
        <p class="c-fs-slogan-dzis l-fs-slogan-dzis -f-motlow">dziś</p>
        <p class="c-fs-slogan-zdarza l-fs-slogan-zdarza -f-franklin-demi">zdarza się</p>
        <p class="c-fs-slogan-tylko l-fs-slogan-tylko -f-jasper-caps">tylko raz</p>
    </div>
    <div class="c-fs-zgloszenie-container l-fs-zgloszenie-container -f-finlandia">
      <p>zgłoszenie zostało wysłane.<br> dziękujemy!</p>
    </div>
    <div class="c-fs-doodwaznych-container l-fs-doodwaznych-container -f-jasper-caps">
      <p>do odważnych jack należy!</p>
    </div>
    <div class="c-fs-twoje-container l-fs-twoje-container -f-myriad-cond u-golden-92">
      <p>Twoje wyznanie po zatwierdzeniu przez moderatora pojawi się na butelce. Poinformujemy Cię! Dodatkowo dowiesz się co wygrałeś.</p>
    </div>
    <a href="/" class="c-fs-btn l-fs-btn -f-myriad-cond">zamknij</a>
    <img class="l-f-bottle" src="/images/bottle_form_exp.png" alt="jack daniels bottle">
    
    
  </div>
  <div class="c-akcja l-f-akcja .l-h-akcja__dsk">
      <p class="-f-myriad-cond -c-golden u-uppercase">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
</div>