<div class="main-dsk l-wrapper l-fs-wrapper js-wrapper" data-bg__mob="url(/images/BG_lights_mob_s.jpg)" data-bg__dsk="url(/images/BG_lights_dsk_s.jpg)" backgroundImage="/images/BG_lights_mob_s.jpg">
  <div class="l-container l-fs-container s-fs-container">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="c-fs-slogan-container l-fs-slogan-container u-uppercase">
        <p class="c-fs-slogan-dzis l-fs-slogan-dzis -f-motlow">dziś</p>
        <p class="c-fs-slogan-zdarza l-fs-slogan-zdarza -f-franklin-demi">zdarza się</p>
        <p class="c-fs-slogan-tylko l-fs-slogan-tylko -f-jasper-caps">tylko raz</p>
    </div>
    <div class="c-fs-zgloszenie-container l-fs-zgloszenie-container -f-finlandia">
      <p>zgłoszenie zostało wysłane.<br> dziękujemy!</p>
    </div>
    <div class="c-fs-doodwaznych-container l-fs-doodwaznych-container -f-jasper-caps">
      <p>do odważnych jack należy!</p>
    </div>
    <div class="c-fs-twoje-container l-fs-twoje-container -f-myriad-cond u-golden-92">
      <p>Twoje wyznanie po zatwierdzeniu przez moderatora pojawi się na butelce.<br>Poinformujemy Cię!<br>Dodatkowo dowiesz się co wygrałeś.</p>
    </div>
    <a href="/" class="c-btn__zamknij l-fs-btn__zamknij -f-myriad-cond">zamknij</a>
    <img class="l-fs-bottle" src="/images/bottle__big.png" alt="jack daniels bottle">
  </div>
  {{>nav}}
  {{>footer}}
</div>