<div class="l-wrapper l-p-wrapper js-wrapper u-golden-bottom" data-bg__mob="url(/images/BG_lights_mob_l.png)" data-bg__dsk="url(/images/TLO_SWIATLO.jpg)">
  <div class="l-container l-p-container u-uppercase">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="l-title c-title -f-jasper-caps">
      <p>nagrody</p>
    </div>
    <div class="l-p-grid">
      <div class="l-p-grid-item l-p-grid-seven">
        <p class="l-p-grid-qty__cash c-p-grid-qty__cash -f-jasper-caps">7 <span class="x">x</span></p>
        <p class="l-p-grid-value c-p-grid-value -f-motlow">7 000</p>
        <p class="l-p-grid-zl c-p-grid-zl -f-motlow">zł</p>
        <p class="l-p-grid-na -p-grid-na -f-myriad-cond u-golden">na realizację <br>marzenia</p>
        <img src="/images/voucher_7000.png" alt="voucher na 7000 zł" class="l-p-grid-visualisation">
        <img src="/images/shadow.png" alt="cień" class="shadow">
      </div>
      <div class="l-p-grid-item l-p-grid-three">
        <p class="l-p-grid-qty__cash c-p-grid-qty__cash -f-jasper-caps">7 <span class="x">x</span></p>
        <p class="l-p-grid-value c-p-grid-value -f-motlow">3 000</p>
        <p class="l-p-grid-zl c-p-grid-zl -f-motlow">zł</p>
        <p class="l-p-grid-na -p-grid-na -f-myriad-cond u-golden">na realizację <br>marzenia</p>
        <img src="/images/voucher_3000.png" alt="voucher na 3000 zł" class="l-p-grid-visualisation">
        <img src="/images/shadow.png" alt="cień" class="shadow">
      </div>
      <div class="l-p-grid-item l-p-grid-instax">
        <p class="l-p-grid-qty -f-jasper-caps">140 <span class="x">x</span></p>
        <p class="l-p-grid-jack -f-motlow">jack</p>
        <p class="l-p-grid-plus -f-motlow">+</p>
        <p class="l-p-grid-instax -f-motlow">instax</p>
        <img src="/images/instax.png" alt="zdjęcie nagrody" class="l-p-grid-visualisation">
      </div>
    </div>
    <a href="/" class="c-btn__zamknij l-p-btn__zamknij -f-myriad-cond">zamknij</a>
    <div class="info">
      <p class="myriad goldenDark">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
    </div>
  </div>
</div>
