<div class="main-dsk l-wrapper l-p-wrapper js-wrapper" data-bg__mob="url(/images/BG_lights_mob_s.jpg)" data-bg__dsk="url(/images/BG_lights_dsk_s.jpg)" backgroundImage="/images/BG_lights_mob_s.jpg">
  <div class="l-container l-p-container u-uppercase">
    <a href="/" class="c-close l-close">&#10005;</a>
    <div class="l-title c-title -f-jasper-caps">
      <p>nagrody</p>
    </div>
    <div class="l-p-flex">
      <div class="l-p-flex-item l-p-flex-seven-container">
        <div class="l-p-innerflex-container">
          <p class="l-p-flex-qty__cash c-p-flex-qty__cash -f-jasper-caps">7 <span class="c-p-flex-x__cash">x</span></p>
          <p class="l-p-flex-value c-p-flex-value -f-motlow">7 000</p>
          <p class="l-p-flex-zl c-p-flex-zl -f-motlow">zł</p>
          <p class="l-p-flex-na c-p-flex-na -f-myriad-cond u-golden">na realizację <br>marzenia</p>
        </div>
        <img src="/images/voucher_7000.png" alt="voucher na 7000 zł" class="l-p-flex-visualisation__seven">
      </div>
      <div class="l-p-flex-item l-p-flex-three-container">
        <div class="l-p-innerflex-container">
          <p class="l-p-flex-qty__cash c-p-flex-qty__cash -f-jasper-caps">7 <span class="c-p-flex-x__cash">x</span></p>
          <p class="l-p-flex-value c-p-flex-value -f-motlow">3 000</p>
          <p class="l-p-flex-zl c-p-flex-zl -f-motlow">zł</p>
          <p class="l-p-flex-na c-p-flex-na -f-myriad-cond u-golden">na realizację <br>marzenia</p>
        </div>
        <img src="/images/voucher_3000.png" alt="voucher na 3000 zł" class="l-p-flex-visualisation l-p-flex-visualisation__three">
        
      </div>
      <div class="l-p-flex-item l-p-flex-instax-container">
        <div class="l-p-innerflex-container">
          <p class="l-p-flex-qty c-p-flex-qty -f-jasper-caps">140 <span class="c-p-flex-x">x</span></p>
          <p class="l-p-flex-jack c-p-flex-jack -f-motlow">jack</p>
          <p class="l-p-flex-plus c-p-flex-plus -f-motlow">+</p>
          <p class="l-p-flex-instax c-p-flex-instax -f-motlow">instax</p>
        </div>
        <img src="/images/instax.png" alt="zdjęcie nagrody" class="l-p-flex-visualisation l-p-flex-visualisation__instax">
      </div>
    </div>
    <a href="/" class="c-btn__zamknij l-p-btn__zamknij -f-myriad-cond">zamknij</a>
  </div>
  {{>nav}}
  {{>footer}}
</div>
