<div class="l-copyform-container">
        <div class="c-copy l-copy ">
          <p class="c-copy-mamy l-copy-mamy -f-motlow">mamy</p>
          <p class="c-copy-wielkie l-copy-wielkie -f-motlow">wielkie plany!</p>
          <p class="c-copy-napelnijmy l-copy-napelnijmy -f-franklin-demi">napełnijmy nimi</p>
          <p class="c-copy-butelke l-copy-butelke -f-motlow">butelkę</p>
          <p class="c-copy-jacka l-copy-jacka -f-motlow">jack'a.</p>
        </div>
        <div class="l-form">
          <form class="l-form c-h-form l-h-form__dsk -f-myriad-cond">
            <label class="u-text-transform-none l-form-label__masz c-form-label__masz -f-myriad-light" for="statement">masz <span>280</span> znaków</label>
            <textarea class="c-form-textarea c-form-input__dsk l-form-textarea -f-myriad-cond u-uppercase js-h-textarea" name="statement" id="statement" rows="4"  required="required" placeholder="Napisz co zawsze chciałeś zrobić&#10;i dlaczego właśnie to, i wygraj kasę&#10;na realizację swojego wielkiego planu!"></textarea>
            <button class="c-h-form-btn l-h-form-btn l-h-form-btn__dsk -f-myriad-cond js-h-btn">wyślij i wygraj jacka</button>
          </form>
        </div>
      </div>