<div class="l-wrapper">
  <div class="c-akcja l-akcja u-golden-bottom">
        <p class="-f-myriad-cond u-golden-92 u-uppercase">akcja trwa od XX marca 2021 r. do zapełnienia butelki.</p>
      </div>
  <nav class="c-nav">
    <button
      class="c-nav__btn -f-myriad-cond u-white js-toggle"
      data-text="mniej"
    >
      menu
      <img
        src="/images/arrow_white.png"
        alt="arrow"
        class="l-nav-arrow js-arrow"
      />
    </button>
    <div id="nav" class="js-nav l-nav h-nav h-is__closed">
      <a
        href="/privacy"
        class="c-nav__btn c-nav__privacy -f-myriad-cond u-golden"
        id="hide"
        >polityka prywatności i cookies</a
      >
      <a
        href="/regulations"
        class="c-nav__btn -f-myriad-cond u-golden navRegulations"
        >regulamin akcji</a
      >
      <a href="/prizes" class="c-nav__btn -f-myriad-cond u-golden navPrizes"
        >nagrody</a
      >
      <a href="/faq" class="c-nav__btn -f-myriad-cond u-golden faq">faq</a>
      <a href="/about" class="c-nav__btn -f-myriad-cond u-golden navAbout"
        >od jacka</a
      >
      <a href="/contact" class="c-nav__btn -f-myriad-cond u-golden navContact"
        >kontakt</a
      >
    </div>
  </nav>
</div>
