<div class="l-wrapper">
  <nav class="c-nav">
    <span class="c-nav__arrow h-is__up h-is__down js-arrow" id="arrow">&#8735;</span>
    <button type="button" class="c-nav__btn js-toggle -f-myriad-cond u-white" data-text="mniej" id="toggle">menu</button>

    <div id="nav" class="js-nav l-nav h-nav h-is__closed">
      <a href="/privacy" class="c-nav__btn c-nav__privacy -f-myriad-cond u-golden" id="hide">polityka prywatności i cookies</a>
      <a href="/regulations" class="c-nav__btn -f-myriad-cond u-golden navRegulations">regulamin akcji</a>
      <a href="/prizes" class="c-nav__btn -f-myriad-cond u-golden navPrizes">nagrody</a>
      <a href="/faq" class="c-nav__btn -f-myriad-cond u-golden faq">faq</a>
      <a href="/about" class="c-nav__btn -f-myriad-cond u-golden navAbout">od jacka</a>
      <a href="/contact" class="c-nav__btn -f-myriad-cond u-golden navContact">kontakt</a>
    </div>
  </nav>
</div>