.l-faq-container {
  // height: auto;
}

.l-faq-flex > div {
  margin-top: vwm(60);
}

.l-faq-flex div > p {
  margin-top: vwm(20);
}

.l-faq-bottle {
  width: vwm(200);
  margin-top: vwm(82);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.l-faq-btn__zamknij {
  display: block;
  margin: 70px auto;
}
