#body-inner {
  background: $white;
}

#agegate-outer {
  //@import '~normalize-libsass/_normalize';
  background-color: $base-background-color;
  display: none;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  [type='text'],
  [type='number'],
  select {
    background-color: $base-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: $base-font-size;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    width: 100%;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      border-color: $action-color;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }

    &:disabled {
      background-color: shade($base-background-color, 5%);
      cursor: not-allowed;

      &:hover {
        border: $base-border;
      }
    }
  }

  [type='checkbox'] {
    display: inline;
    margin-right: $small-spacing / 2;
  }

  .agegate-container {
    margin-top: 4em;
    padding: 0 1em;
  }

  #agegate-errors {
    color: $red;
    margin-bottom: $small-spacing;
    width: 100%;
  }

  .agegate-inner {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
  }

  .sr-only {
    display: none;
  }

  .agegate-fieldset {
    background-color: $base-background-color;
    background-color: transparent;
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    &:disabled {
      display: none;
    }
  }

  .fieldwrapper {
    box-sizing: border-box;
    float: left;
    padding: 0 5px;
    width: 33.33%;

    &:first-child {
      padding: 0 10px 0 0;
    }

    &:last-child {
      padding: 0 0 0 10px;
    }

    input {
      text-align: center;
    }
  }

  .legal_footer,
  .rememberwrapper,
  .submitwrapper {
    margin: 0;
    width: 100%;
  }

  .selectwrapper {
    margin: 0;
    width: 100%;

    select {
      //text-indent: 5px;
      height: 36px;
      width: 100%;
    }
  }

  .rememberwrapper {
    a {
      white-space: nowrap;
    }
  }

  [type='submit'],
  button {
    appearance: none;
    background-color: $action-color;
    border: 0;
    border-radius: $base-border-radius;
    color: $white;
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 5px 10px;

    &:hover,
    &:focus {
      background-color: shade($action-color, 20%);
      color: $white;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: $action-color;
      }
    }
  }
}
