.c-close {
  position: relative;
  margin-left: 37.2rem;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.c-title {
  font-size: rem(75);
  text-align: center;
}

.c-copy-napelnijmy {
  text-transform: uppercase;
}

.c-form-label__masz {
  font-size: rem(21);
  color: $gold-92;
  text-transform: none;
}

.c-form-textarea,
.c-form-input {
  padding: 1rem 1rem 2.5rem 1rem;
  width: 100%;
  background: black;
  border-radius: 0.5rem;
  border: 2px solid $grey-82;
  font-size: rem(37);
  caret-color: $grey-82;
}

.c-form-textarea {
  padding: 1rem 1rem 2.5rem 1rem;
  color: $white;
}

.c-form-input {
  padding: 1rem 1rem 1rem 1rem;
  color: $gold-92;
}

.c-form-textarea:focus,
.c-form-input:focus,
.c-h-form__btn:focus,
.c-f-form-btn:focus,
.c-f-form-zamknij:focus {
  outline: none;
  border: 2px solid $orange-1c;
}

.c-form-textarea::placeholder {
  color: $white;
}

.c-form-input::placeholder {
  color: $gold-92;
}

.c-f-form-zamknij {
  border: none;
  padding: 0.5rem;
  font-size: rem(37);
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
}

.c-h-form-btn,
.c-f-form-btn {
  border: none;
  background-color: #ee731d;
  color: black;
  padding: 0.5rem;
  font-size: rem(37);
  text-transform: uppercase;
}

.c-h-form-btn {
  width: 28.56rem;
}

.c-f-form-btn {
  width: rem(456);
}

.c-f-form-group {
  width: 28rem;
  padding-left: 2.5rem;
  cursor: pointer;
  font-size: rem(29);
  text-transform: none;
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
  .c-checkmark {
    position: absolute;
    top: 0.6rem;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid $gold-8f;
  }
  /* When the checkbox is checked, add an orange background */
  input:checked ~ .c-checkmark {
    background-color: $orange-1c;
  }
}

.c-akcja {
  color: $gold-92;
  text-align: center;
  font-size: rem(29);
}

.c-nav {
  position: relative;
  color: white;
  .c-nav__arrow {
    display: inline-block;
    color: white;
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
  }
  .c-nav__btn {
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.2rem;
    padding: 2.2rem 0 2.2rem 0;
    border-bottom: 3px solid $gold-92;
  }
}

.c-footer {
  color: $grey-95;
  font-size: rem(29);
  letter-spacing: rem(0.21);
}

.c-fs-zgloszenie-container {
  font-size: rem(30);
  text-align: center;
}

.c-fs-doodwaznych-container {
  font-size: rem(33);
  text-align: center;
}

.c-fs-twoje-container {
  font-size: rem(25);
  text-align: center;
  text-transform: none;
}

.c-btn__zamknij {
  padding: rem(7) rem(20);
  font-size: rem(38);
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border: 2px solid $white;
  background-color: $black-00;
}

.c-p-flex-qty__cash {
  font-size: rem(117);
}

.c-p-flex-x__cash {
  font-size: rem(58);
}

.c-p-flex-value {
  font-size: rem(64);
}

.c-p-flex-zl {
  font-size: rem(29);
}

.c-p-flex-na {
  font-size: rem(24);
  text-align: center;
  line-height: 30px;
}

.c-p-flex-qty {
  font-size: rem(73);
}

.c-p-flex-x {
  font-size: rem(36);
}

.c-p-flex-jack {
  font-size: rem(64);
}

.c-p-flex-plus {
  font-size: rem(29);
}

.c-p-flex-instax {
  font-size: rem(48);
}

.c-faq-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid $gold-92;
  text-align: left;
  outline: none;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(33);
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-faq-p {
  font-size: rem(33);
  text-transform: none;
}
