.l-f-container {
  height: vwm(1914);
}

.l-f-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-f-form-group {
  display: block;
  position: relative;
  margin-bottom: vwm(58);
}

.l-f-bottle {
  position: absolute;
  right: 0;
  bottom: vwm(-64);
}

.l-f-akcja {
  position: relative;
  margin-top: vwm(208);
  margin-bottom: vwm(50);
  width: 100%;
}
