.l-fs-slogan-container {
  font-size: 26.545454px;
  .l-fs-slogan-dzis {
    position: relative;
    left: em(7);
    font-size: em(44);
    margin: 0;
  }
  .l-fs-slogan-zdarza {
    position: relative;
    top: em(-12);
    font-size: em(10);
    font-size: em(16);
    margin: 0;
  }
  .l-fs-slogan-tylko {
    position: relative;
    top: em(-9);
    left: em(13);
    font-size: em(35);
    margin: 0;
  }
}
