.l-p-wrapper {
  height: rem(1950);
}

.l-p-container {
  height: auto;
}

.l-p-akcja {
  position: relative;
  margin-top: rem(208);
  margin-bottom: 50px;
  width: 100%;
}

.l-p-flex {
  margin-top: rem(70);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-p-flex-item {
  max-width: rem(270);
  height: rem(569);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.l-p-innerflex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-p-flex-instax-container {
  position: relative;
  margin-top: rem(30);
  margin-left: auto;
  margin-right: auto;
}

.l-p-flex-value {
  margin-top: rem(-17);
}

.l-p-flex-zl {
  position: relative;
  left: rem(52);
  bottom: rem(8);
}

.l-p-flex-na {
  margin-top: rem(4);
}

.l-p-flex-shadow {
  position: absolute;
}

.l-p-flex-qty {
  margin-top: rem(35);
  position: relative;
  right: rem(35);
}

.l-p-flex-jack {
  margin-top: rem(-8);
}

.l-p-flex-plus {
  position: relative;
  left: rem(49);
  bottom: rem(9);
}

.l-p-flex-instax {
  position: relative;
  left: rem(21);
  bottom: rem(13);
}

.l-p-flex-visualisation {
  margin-bottom: rem(32);
}

.l-p-flex-shadow__seven {
  position: absolute;
  top: 717px;
  left: rem(97);
}

.l-p-flex-shadow {
  position: absolute;
  top: 685px;
  left: rem(420);
  z-index: 0;
}

.l-p-flex-visualisation {
  z-index: 1;
}

.l-p-btn__zamknij {
  display: block;
  margin-top: rem(120);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
