.l-p-container {
  height: auto;
}

.l-p-akcja {
  position: relative;
  margin-top: rem(208);
  margin-bottom: 50px;
  width: 100%;
}

.l-p-flex {
  margin-top: rem(70);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-p-flex-seven,
.l-p-flex-three,
.l-p-flex-instax {
  max-width: rem(270);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-p-flex-instax {
  position: relative;
  margin-top: rem(30);
  margin-left: auto;
  margin-right: auto;
}

.l-p-btn__zamknij {
  display: block;
  margin-top: rem(120);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
