.l-c-akcja {
  padding: rem(195) 0 rem(232) 0;
  width: 100%;
}

.l-c-textarea {
  margin-top: rem(60);
}

.l-c-form-buttons-container {
  padding-top: rem(87);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
