.l-faq-flex > div {
  margin-top: rem(60);
}

.l-faq-flex div > p {
  margin-top: rem(20);
}

.l-faq-bottle {
  width: rem(200);
  margin-top: rem(82);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
