.l-fs-container {
  height: rem(867);
}
.l-fs-slogan-container {
  font-size: 26.545454px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  .l-fs-slogan-dzis {
    position: relative;
    font-size: em(44);
    margin: 0;
  }
  .l-fs-slogan-zdarza {
    position: relative;
    top: rem(-15);
    right: rem(10);
    font-size: em(10);
    font-size: em(16);
    margin: 0;
  }
  .l-fs-slogan-tylko {
    position: relative;
    top: rem(-12);
    left: rem(14);
    font-size: em(35);
    margin: 0;
  }
}
