.l-f-container {
  height: rem(1914);
}

.l-f-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-f-form-group {
  display: block;
  position: relative;
  margin-bottom: rem(58);
}

.l-f-bottle {
  position: absolute;
  right: 0;
  bottom: -4rem;
}

.l-f-akcja {
  position: relative;
  margin-top: rem(208);
  margin-bottom: 50px;
  width: 100%;
}
