.l-age-kreski {
  height: vwm(58);
}

.l-age-logo {
  width: vwm(194);
}

.l-age-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-age-data-container {
  margin: 0 vwm(-22);
}
