.l-c-akcja {
  padding: vwm(195) 0 vwm(232) 0;
  width: 100%;
}

.l-c-textarea {
  margin-top: vwm(60);
}

.l-c-form-buttons-container {
  padding-top: vwm(87);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.l-c-disclaimer {
  padding-top: vwm(76);
  font-size: vwm(29);
  width: 100%;
  margin: 0 auto;
  color: $grey-74;
}

.l-c-bottle {
  display: none;
}
