@media screen and (min-width: 1400px) {
  .l-h-container {
    padding-top: rem(115);
    height: rem(980);
    width: rem(1240);
  }

  .l-h-live_icon {
    right: rem(240);
    top: rem(115);
    width: auto;
    width: rem(53);
  }

  .l-h-flex_dsk {
    display: flex;
    position: relative;
    padding-left: rem(200);
    bottom: rem(45);
    justify-content: space-between;
  }

  .l-h-slogan {
    width: rem(200);
    height: rem(200);
    position: relative;
    top: rem(510);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .l-h-slogan__today {
      .l-h-slogan__dzis {
        position: relative;
        left: rem(9.4);
        font-size: rem(59);
        margin: 0;
      }
      .l-h-slogan__zdarza {
        position: relative;
        bottom: rem(14);
        font-size: rem(21);
        margin: 0;
      }
      .l-h-slogan__tylko {
        position: relative;
        top: rem(-12);
        left: rem(17.5);
        font-size: rem(47);
        margin: 0;
      }
    }
    .l-h-slogan__m_i_c {
      .l-h-slogan__logo {
        display: block;
        position: relative;
        bottom: rem(6.7);
        width: rem(40);
        left: 50%;
        margin-left: rem(-20);
      }
      .l-h-slogan__make {
        font-size: rem(29);
      }
      .l-h-slogan__count {
        font-size: rem(39);
      }
    }
  }

  .l-h-bottle_w_shadow {
    width: rem(400);
    padding: 0;
  }
  .l-h-form-btn {
    position: relative;
    top: unset;
    margin-top: rem(40);
  }
}
