.u-uppercase {
  text-transform: uppercase;
}

.u-no-text-transform {
  text-transform: none;
}

.u-no-text-decoration {
  text-decoration: none;
}

.u-text-center {
  text-align: center;
}

.u-align__center {
  text-align: center;
}

.u-golden-bottom {
  border-bottom: 3px solid $gold-8f;
}

.u-golden {
  color: $gold-8f;
}

.u-golden-92 {
  color: $gold-92;
}

.u-grey-82 {
  color: $gold-92;
}

.u-white {
  color: $white;
}

.u-absolute {
  position: absolute;
}

.u-flex__dsk {
  display: flex;
}
